.sn-post-form-popup.--normal {
	top: 50vh!important;
	transform: translate(0, -50%);
}

.sn-post-form-popup {
	max-height: calc(100vh - 40px);
}

.sn-post-form-popup .popup-window-titlebar {
	height: auto;
}

.sn-post-form-popup .popup-window-buttons {
	border-top: var(--ui-border-width-thin) solid var(--ui-color-background-secondary);
}

.sn-post-form-popup .feed-add-post-destination-block {
	display: none;
}

.sn-post-form__discussion-row {
	display: flex;
	align-items: center;
	min-height: 60px;
	box-sizing: border-box;
	padding: 15px 20px;
	border-bottom: var(--ui-border-width-thin) solid var(--ui-color-background-secondary);
}

.sn-post-form__discussion-row.--hidden {
	display: none;
}

.sn-post-form__discussion-row:last-of-type:not(.sn-post-form__discussion-row:first-of-type) {
	border: none;
}

.sn-post-form__discussion_in-space {
	display: flex;
	align-items: center;
	font-size: var(--ui-font-size-lg);
	line-height: var(--ui-font-line-height-3xs);
	color: var(--ui-color-text-secondary);
}

.sn-post-form__discussion_select {
	--ui-icon-set__icon-color: rgba(var(--ui-color-link-primary-base-rgb), var(--ui-opacity-60));
	display: flex;
	align-items: center;
	margin-left: 5px;
	color: var(--ui-color-link-primary-base);
	cursor: pointer;
	transition: .2s;
}

.sn-post-form__discussion_select:hover {
	--ui-icon-set__icon-color: rgba(var(--ui-color-link-primary-base-rgb), var(--ui-opacity-full));
}

.sn-post-form__discussion_title {
	color: var(--ui-color-text-primary);
	font-size: var(--ui-font-size-2xl);
}

.sn-post-form__list-item_icon {
	--sn-spaces__list-item_icon-size: 28px;

	position: relative;
	flex-shrink: 0;
	width: var(--sn-spaces__list-item_icon-size);
	height: var(--sn-spaces__list-item_icon-size);
	margin-right: 10px;
	border-radius: var(--ui-border-radius-sm);
	outline: 1px solid rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
	outline-offset: -1px;
}

.sn-post-form__list-item_icon img {
	width: 100%;
	height: 100%;
	border-radius: var(--ui-border-radius-sm);
}

.sonet-common-workgroup-avatar.sn-post-form__list-item_icon {
	background-position: center;
	margin-bottom: 0;
	min-width: 28px;
	background-size: 16px;
}

.sn-post-form__list-item_icon.sonet-common-workgroup-avatar.--common-space {
	background-size: 28px;
}

.sn-post-form__list-item_img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: var(--ui-border-radius-sm);
	background-size: cover;
	background-repeat: no-repeat;
}

.sn-post-form__discussion-error-alert.--hidden {
	display: none;
}

.sn-post-form-popup .feed-add-post-tags-block {
	padding: 8px;
}