.bx-im-messenger__scope {
	--im-messenger__min-width: 1280px;
	--im-messenger__min-heigth: 720px;

	--im-messenger__navigation_width: 82px;
	--im-messenger__list_width: 400px;
	--im-messenger__list_border-color: #E6E7E9;
	--im-messenger__header_height: 64px;
	--im-messenger__textarea_height: 64px;
	--im-messenger__sidebar_width: 320px;
	--im-messenger__sidebar_transition: all 0.3s;
	--im-messenger__search-input_height: 34px;

	--im-messenger__font_helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--im-messenger__font_open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--im-messenger__font_system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	/* UI tokens placeholders */

	/* paddings */
	--im-space-inset-2xl: var(--ui-space-inset-2xl, 28px);
	--im-space-inset-xl: var(--ui-space-inset-xl, 24px);
	--im-space-inset-lg: var(--ui-space-inset-lg, 20px);
	--im-space-inset-md: var(--ui-space-inset-md, 16px);
	--im-space-inset-sm: var(--ui-space-inset-sm, 12px);
	--im-space-inset-xs: var(--ui-space-inset-xs, 8px);
	--im-space-inset-2xs: var(--ui-space-inset-2xs, 4px);
	--im-space-inset-3xs: var(--ui-space-inset-3xs, 2px);
	/* vertical margins */
	--im-space-stack-xl: var(--ui-space-stack-xl, 24px);
	--im-space-stack-lg: var(--ui-space-stack-lg, 20px);
	--im-space-stack-sm: var(--ui-space-stack-sm, 12px);
	--im-space-stack-xs: var(--ui-space-stack-2xs, 8px);
	--im-space-stack-2xs: var(--ui-space-stack-2xs, 4px);
	--im-space-stack-3xs: var(--ui-space-stack-3xs, 2px);
	/* horizontal margins */
	--im-space-inline-lg: var(--ui-space-inline-lg, 20px);
	--im-space-inline-md: var(--ui-space-inline-md, 16px);
	--im-space-inline-sm: var(--ui-space-inline-sm, 12px);
	--im-space-inline-xs: var(--ui-space-inline-xs, 8px);
	--im-space-inline-2xs: var(--ui-space-inline-2xs, 4px);
	--im-space-inline-3xs: var(--ui-space-inline-3xs, 2px);
	--im-space-inline-xs-neg: var(--ui-space-inline-xs-neg, -8px);
	--im-space-inline-sm-neg: var(--ui-space-inline-sm-neg, -12px);

	--im-size-6xl: var(--ui-size-6xl, 48px);
	--im-size-3xl: var(--ui-size-3xl, 32px);
	--im-size-2xl: var(--ui-size-2xl, 28px);
	--im-size-xl: var(--ui-size-xl, 24px);
	--im-size-lg: var(--ui-size-lg, 20px);
	--im-size-sm: var(--ui-size-sm, 12px);
	--im-size-xs: var(--ui-size-xs, 8px);
	--im-size-3xs: var(--ui-size-3xs, 2px);

	--im-border-radius-circle: var(--ui-border-radius-circle, 50%);
	--im-border-radius-3xl: var(--ui-border-radius-3xl, 20px);
	--im-border-radius-2xl: var(--ui-border-radius-2xl, 16px);
	--im-border-radius-xl: var(--ui-border-radius-xl, 14px);
	--im-border-radius-lg: var(--ui-border-radius-lg, 12px);
	--im-border-radius-md: var(--ui-border-radius-md, 10px);
	--im-border-radius-sm: var(--ui-border-radius-sm, 8px);
	--im-border-radius-xs: var(--ui-border-radius-xs, 6px);
	--im-border-radius-2xs: var(--ui-border-radius-2xs, 4px);

	--im-font-family-open-sans: var(--ui-font-family-open-sans, var(--im-messenger__font_open-sans));
	--im-font-family-helvetica: var(--ui-font-family-helvetica, var(--im-messenger__font_helvetica));
	--im-font-family-system: var(--ui-font-family-system, var(--im-messenger__font_system));

	--im-font-size-5xl: var(--ui-font-size-5xl, 28px);
	--im-font-size-4xl: var(--ui-font-size-4xl, 24px);
	--im-font-size-3xl: var(--ui-font-size-3xl, 22px);
	--im-font-size-2xl: var(--ui-font-size-2xl, 18px);
	--im-font-size-xl: var(--ui-font-size-xl, 16px);
	--im-font-size-lg: var(--ui-font-size-lg, 15px);
	--im-font-size-md: var(--ui-font-size-md, 14px);
	--im-font-size-sm: var(--ui-font-size-sm, 13px);
	--im-font-size-xs: var(--ui-font-size-xs, 12px);
	--im-font-size-3xs: var(--ui-font-size-3xs, 11px);
	--im-font-size-4xs: var(--ui-font-size-4xs, 10px);
	--im-font-size-5xs: var(--ui-font-size-5xs, 9px);
	--im-font-size-7xs: var(--ui-font-size-7xs, 7px);

	--im-font-line-height-3xl: var(--ui-font-line-height-3xl, 2);
	--im-font-line-height-xl: var(--ui-font-line-height-xl, 1.62);
	--im-font-line-height-lg: var(--ui-font-line-height-lg, 1.5);
	--im-font-line-height-md: var(--ui-font-line-height-md, 1.4);
	--im-font-line-height-sm: var(--ui-font-line-height-sm, 1.35);
	--im-font-line-height-2xs: var(--ui-font-line-height-2xs, 1.3);
	--im-font-line-height-3xs: var(--ui-font-line-height-3xs, 1.2);
	--im-font-line-height-reset: var(--ui-font-line-height-reset, 1);

	--im-font-weight-bold: var(--ui-font-weight-bold, 700);
	--im-font-weight-semi-bold: var(--ui-font-weight-semi-bold, 600);
	--im-font-weight-medium: var(--ui-font-weight-medium, 500);
	--im-font-weight-normal: var(--ui-font-weight-normal, 400);
	--im-font-weight-light: var(--ui-font-weight-light, 300);

	--im-color-palette-black-solid: var(--ui-color-palette-black-solid, #000);
	--im-color-palette-black-solid-rgb: 0, 0, 0;
	--im-color-palette-black-base: var(--ui-color-palette-black-base, #333);
	--im-color-palette-black-base-rgb: 51, 51, 51;
	--im-color-palette-gray-02: var(--ui-color-palette-gray-02, #f8fafb);
	--im-color-palette-gray-02-rgb: 248, 250, 251;
	--im-color-palette-gray-03: var(--ui-color-palette-gray-03, #f5f7f8);
	--im-color-palette-gray-03-rgb: 245, 247, 248;
	--im-color-palette-gray-04: var(--ui-color-palette-gray-04, #f1f4f6);
	--im-color-palette-gray-04-rgb: 241, 244, 246;
	--im-color-palette-gray-90: var(--ui-color-palette-gray-90, #525c69);
	--im-color-palette-gray-90-rgb: 82, 92, 105;
	--im-color-palette-gray-80: var(--ui-color-palette-gray-80, #6a737f);
	--im-color-palette-gray-80-rgb: 106, 115, 127;
	--im-color-palette-gray-70: var(--ui-color-palette-gray-70, #828b95);
	--im-color-palette-gray-70-rgb: 130, 139, 149;
	--im-color-palette-gray-60: var(--ui-color-palette-gray-60, #959ca4);
	--im-color-palette-gray-60-rgb: 149, 156, 164;
	--im-color-palette-gray-50: var(--ui-color-palette-gray-50, #a8adb4);
	--im-color-palette-gray-50-rgb: 168, 173, 180;
	--im-color-palette-gray-40: var(--ui-color-palette-gray-40, #bdc1c6);
	--im-color-palette-gray-40-rgb: 189, 193, 198;
	--im-color-palette-gray-30: var(--ui-color-palette-gray-30, #d5d7db);
	--im-color-palette-gray-30-rgb: 213, 215, 219;
	--im-color-palette-gray-20: var(--ui-color-palette-gray-20, #dfe0e3);
	--im-color-palette-gray-20-rgb: 223, 224, 227;
	--im-color-palette-gray-15: var(--ui-color-palette-gray-15, #e6e7e9);
	--im-color-palette-gray-15-rgb: 230, 231, 233;
	--im-color-palette-gray-10: var(--ui-color-palette-gray-10, #edeef0);
	--im-color-palette-gray-10-rgb: 237, 238, 240;
	--im-color-palette-white-base: var(--ui-color-palette-white-base, #fff);
	--im-color-palette-white-base-rgb: 255, 255, 255;
	--im-color-palette-red-solid: var(--ui-color-palette-red-solid, #f0371b);
	--im-color-palette-red-solid-rgb: 240, 55, 27;
	--im-color-palette-red-50: var(--ui-color-palette-red-50, #ff5752);
	--im-color-palette-red-50-rgb: 255, 87, 82;
	--im-color-palette-red-20: var(--ui-color-palette-red-20, #ffe8e8);
	--im-color-palette-red-20-rgb: 255, 232, 232;
	--im-color-palette-green-70: var(--ui-color-palette-green-70, #7fa800);
	--im-color-palette-green-70-rgb: 127, 168, 0;
	--im-color-palette-green-50: var(--ui-color-palette-green-50, #9dcf00);
	--im-color-palette-green-50-rgb: 157, 207, 0;
	--im-color-palette-green-25: var(--ui-color-palette-green-25, #faf6c3);
	--im-color-palette-green-25-rgb: 250, 246, 195;
	--im-color-palette-blue-90: var(--ui-color-palette-blue-90, #006484);
	--im-color-palette-blue-90-rgb: 0, 100, 132;
	--im-color-palette-blue-60: var(--ui-color-palette-blue-60, #1aa9d9);
	--im-color-palette-blue-60-rgb: 17, 169, 217;
	--im-color-palette-blue-50: var(--ui-color-palette-blue-50, #2fc6f6);
	--im-color-palette-blue-50-rgb: 47, 198, 246;
	--im-color-palette-blue-30: var(--ui-color-palette-blue-30, #c1eefd);
	--im-color-palette-blue-30-rgb: 193, 238, 253;
	--im-color-palette-blue-20: var(--ui-color-palette-blue-20, #e5f9ff);
	--im-color-palette-blue-20-rgb: 229, 249, 255;
	--im-color-palette-blue-15: var(--ui-color-palette-blue-15, #ecfafe);
	--im-color-palette-blue-15-rgb: 236, 250, 254;

	--im-color-accent-light-blue: var(--ui-color-accent-light-blue, #559be6);
	--im-color-accent-light-blue-rgb: 85, 155, 230;
}