.pagetitle-wrap {
	display: none;
}

#workarea-content {
	background-color: #EEF2F4 !important;
}

/*region main section*/
.salescenter-main-header-title-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
}

.salescenter-main-header-switcher-container {
	margin-left: 30px;
}

.salescenter-main-header-switcher-container > .ui-switcher {
	display: block;
}

.salescenter-main-header-feedback-container {
	margin-left: auto;
}

.salescenter-editor-section-edit {
	background-color: #fff;
}

.salescenter-editor-section, .salescenter-editor-section-edit {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 15px;
	border-radius: 1px;
	padding: 0 20px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
	transition: background-color 250ms linear, opacity 250ms linear;
}

.salescenter-editor-section-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #e8ecee;
	margin: 0 auto;
	padding: 15px 0 20px;
	position: relative;
}

.salescenter-editor-header-title-text {
	display: inline-block;
	height: 23px;
	color: #525c69;
	vertical-align: middle;
	text-transform: none;
	font: 400 18px/24px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.salescenter-editor-section-content {
	position: relative;
	transition: 250ms linear padding, 250ms linear height;
}

.ui-slider-section .salescenter-editor-section-content {
	padding: 0;
}

#salescenter-paysystem-cashbox .salescenter-editor-section-content {
	padding: 15px 0;
}

.salescenter-editor-block-title {
	position: relative;
	display: flex;
	color: #a3a9b1;
	justify-content: space-between;
}

.salescenter-editor-block-subtitle {
	color: #525d69;
}

.salescenter-editor-content-block {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.salescenter-editor-content-logo-hint {
	font-style: italic;
	font-size: 12px;
}

.salescneter-editor-img-container {
	min-width: 100px;
	min-height: 45px;
	display: inline-block;
	padding: 30px 50px;
	border: 1px dashed rgba(82, 92, 105, 0.5);
	margin: 0 15px 0 0;
	border-radius: var(--ui-field-border-radius);
}

.salescneter-editor-img-load {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.salescneter-editor-img-wrapper {
	position: relative;
}

.salescneter-editor-content-img {
	max-width: 100px;
	max-height: 145px;
	position: absolute;
	top: 0;
	bottom: 4px;
	margin: auto;
}

.salescenter-wrapper {
	width: 100%
}

.salescenter-paysystem-wrapper {
	margin: 15px 0 20px 0;
	padding: 0 15px 0 21px !important;
}

.salescenter-main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	-webkit-box-align: start;
	align-items: flex-start;
}

.salescenter-main-header-left-block { padding-right: 45px; }

.salescenter-logo-container {
	position: relative;
	min-width: 97px;
	max-width: 97px;
	width: 97px;
	height: 97px;
	border-radius: 50%;
}

.salescenter-default-icon { width: 97px; }
.salescenter-default-icon i {
	background-image: url(images/default.svg);
	background-size: 50% auto;
	background-color: #56C472;
}

.salescenter-cash-icon { width: 97px; }
.salescenter-cash-icon i {
	background-image: url(images/cash.svg);
	background-size: 70% auto;
	background-color: #8EB927;
}

.salescenter-paypal-icon { width: 97px; }
.salescenter-paypal-icon i {
	background-image: url(images/paypal.svg);
	background-size: 70% auto;
	background-color: #243B80;
}

.salescenter-sberbankonline-icon { width: 97px; }
.salescenter-sberbankonline-icon i {
	background-image: url(images/sberbankonline.svg);
	background-size: 70% auto;
	background-color: #2C9B47;
}

.salescenter-qiwi-icon { width: 97px; }
.salescenter-qiwi-icon i {
	background-image: url(images/qiwi.svg);
	background-size: 80% auto;
	background-color: #E9832C;
}

.salescenter-webmoney-icon { width: 97px; }
.salescenter-webmoney-icon i {
	background-image: url(images/webmoney.svg);
	background-size: 90% auto;
	background-color: #006FA8;
}

.salescenter-yandexcheckout-icon { width: 97px; }
.salescenter-yandexcheckout-icon i {
	background-image: url(images/yandexcheckout.svg);
	background-size: 90% auto;
	background-color: #0697F2;
}

.salescenter-yandexcheckout-alfabank-icon { width: 97px; }
.salescenter-yandexcheckout-alfabank-icon i {
	background-image: url(images/yandexcheckout_alfabank.svg);
	background-size: 85% auto;
	background-color: #EE2A23;
}

.salescenter-yandexcheckout-bank_card-icon { width: 97px; }
.salescenter-yandexcheckout-bank_card-icon i {
	background-image: url(images/yandexcheckout_bank_card.svg);
	background-size: 80% auto;
	background-color: #19D0C8;
}

.salescenter-yandexcheckout-yoo_money-icon { width: 97px; }
.salescenter-yandexcheckout-yoo_money-icon i {
	background-image: url(images/yandexcheckout_yoo_money.svg);
	background-size: 85% auto;
	background-color: #FFA900;
}

.salescenter-yandexcheckout-sberbank-icon { width: 97px; }
.salescenter-yandexcheckout-sberbank-icon i {
	background-image: url(images/yandexcheckout_sberbank.svg);
	background-size: 85% auto;
	background-color: #2C9B47;
}

.salescenter-yandexcheckout-sberbank_sms-icon { width: 97px; }
.salescenter-yandexcheckout-sberbank_sms-icon i {
	background-image: url(images/yandexcheckout_sberbank_sms.svg);
	background-size: 85% auto;
	background-color: #289D37;
}

.salescenter-yandexcheckout-sberbank_qr-icon { width: 97px; }
.salescenter-yandexcheckout-sberbank_qr-icon i {
	background-image: url(images/yandexcheckout_sberbank_qr.svg);
	background-size: 85% auto;
	background-color: #289D37;
}

.salescenter-yandexcheckout-qiwi-icon { width: 97px; }
.salescenter-yandexcheckout-qiwi-icon i {
	background-image: url(images/yandexcheckout_qiwi.svg);
	background-size: 80% auto;
	background-color: #E9832C;
}

.salescenter-yandexcheckout-embedded-icon { width: 97px; }
.salescenter-yandexcheckout-embedded-icon i {
	background-image: url(images/yandexcheckout_embedded.svg);
	background-size: 90% auto;
	background-color: #0697F2;
}

.salescenter-yandexcheckout-tinkoff_bank-icon { width: 97px; }
.salescenter-yandexcheckout-tinkoff_bank-icon i {
	background-image: url(images/yandexcheckout_tinkoff_bank.svg);
	background-size: 85% auto;
	background-color: #FFE52B;
}

.salescenter-yandexcheckout-installments-icon { width: 97px; }
.salescenter-yandexcheckout-installments-icon i {
	background-image: url(images/yandexcheckout_installments.svg);
	background-size: 75% auto;
	background-color: #00EEBC;
}

.salescenter-yandexcheckout-sbp-icon { width: 97px; }
.salescenter-yandexcheckout-sbp-icon i {
	background-image: url(images/yandexcheckout_sbp.svg);
	background-size: 80% auto;
	background-color: #1487C9;
}

.salescenter-liqpay-icon { width: 97px; }
.salescenter-liqpay-icon i {
	background-image: url(images/liqpay.svg);
	background-size: 70% auto;
	background-color: #7AB72B;
}

.salescenter-uapay-icon { width: 97px; }
.salescenter-uapay-icon i {
	background-image: url(images/uapay.svg);
	background-size: 70% auto;
	background-color: #E41F18;
}

.salescenter-platon-bank_card-icon { width: 97px; }
.salescenter-platon-bank_card-icon i {
	background-image: url(images/platon_bank_card.svg);
	background-size: 70% auto;
	background-color: #EC6125;
}

.salescenter-platon-apple_pay-icon { width: 97px; }
.salescenter-platon-apple_pay-icon i {
	background-image: url(images/platon_apple_pay.svg);
	background-size: 70% auto;
	background-color: #EC6125;
}

.salescenter-platon-google_pay-icon { width: 97px; }
.salescenter-platon-google_pay-icon i {
	background-image: url(images/platon_google_pay.svg);
	background-size: 70% auto;
	background-color: #EC6125;
}

.salescenter-platon-privat24-icon { width: 97px; }
.salescenter-platon-privat24-icon i {
	background-image: url(images/platon_privat24.svg);
	background-size: 70% auto;
	background-color: #EC6125;
}

.salescenter-skb-skb-icon { width: 97px; }
.salescenter-skb-skb-icon i {
	background-image: url(images/skb_skb.svg);
	background-size: 85% auto;
	background-color: #DF1D40;
}

.salescenter-skb-delobank-icon { width: 97px; }
.salescenter-skb-delobank-icon i {
	background-image: url(images/skb_delobank.svg);
	background-size: 85% auto;
	background-color: #DF1D40;
}

.salescenter-skb-gazenergobank-icon { width: 97px; }
.salescenter-skb-gazenergobank-icon i {
	background-image: url(images/skb_gazenergobank.svg);
	background-size: 85% auto;
	background-color: #DF1D40;
}

.salescenter-bepaid-widget-icon{ width: 97px; }
.salescenter-bepaid-widget-icon i{
	background-image: url(images/bepaid_widget.svg);
	background-size: 70% auto;
	background-color: #E36F10;
}

.salescenter-bepaid-checkout-icon { width: 97px; }
.salescenter-bepaid-checkout-icon i {
	background-image: url(images/bepaid_checkout.svg);
	background-size: 70% auto;
	background-color: #E36F10;
}

.salescenter-bepaiderip-icon{ width: 97px; }
.salescenter-bepaiderip-icon i{
	background-image: url(images/bepaiderip.svg);
	background-size: 70% auto;
	background-color: #E36F10;
}

.salescenter-cashondelivery-icon { width: 97px; }
.salescenter-cashondelivery-icon i {
	background-image: url(images/cashondelivery.svg);
	background-size: 65% auto;
	background-color: #39A68E;
}

.salescenter-cashondeliverycalc-icon { width: 97px; }
.salescenter-cashondeliverycalc-icon i {
	background-image: url(images/cashondeliverycalc.svg);
	background-size: 65% auto;
	background-color: #39A68E;
}

.salescenter-orderdocument-icon { width: 97px; }
.salescenter-orderdocument-icon i {
	background-image: url(images/orderdocument.svg);
	background-size: 50% auto;
	background-color: #2FA8CD;
}

.salescenter-paymaster-icon { width: 97px; }
.salescenter-paymaster-icon i {
	background-image: url(images/paymaster.svg);
	background-size: 90% auto;
	background-color: #1B7195;
}

.salescenter-wooppay-iframe-icon{ width: 97px; }
.salescenter-wooppay-iframe-icon i{
	background-image: url(images/wooppay_iframe.svg);
	background-size: 90% auto;
	background-color: #2F80ED;
}

.salescenter-wooppay-checkout-icon { width: 97px; }
.salescenter-wooppay-checkout-icon i {
	background-image: url(images/wooppay_checkout.svg);
	background-size: 90% auto;
	background-color: #2F80ED;
}

.salescenter-alfabank-icon { width: 97px; }
.salescenter-alfabank-icon i {
	background-image: url(images/alfabank.svg);
	background-size: 90% auto;
	background-color: #EF3124;
}

.salescenter-roboxchange-bank_card-icon { width: 97px; }
.salescenter-roboxchange-bank_card-icon i {
	background-image: url(images/roboxchange_bank_card.svg);
	background-size: 80% auto;
	background-color: #19D0C8;
}

.salescenter-roboxchange-apple_pay-icon { width: 97px; }
.salescenter-roboxchange-apple_pay-icon i {
	background-image: url(images/roboxchange_apple_pay.svg);
	background-size: 80% auto;
	background-color: #8F8F8F;
}

.salescenter-roboxchange-samsung_pay-icon { width: 97px; }
.salescenter-roboxchange-samsung_pay-icon i {
	background-image: url(images/roboxchange_samsung_pay.svg);
	background-size: 85% auto;
	background-color: #1429A1;
}

.salescenter-roboxchange-google_pay-icon { width: 97px; }
.salescenter-roboxchange-google_pay-icon i {
	background-image: url(images/roboxchange_google_pay.svg);
	background-size: 80% auto;
	background-color: #4285F4;
}


.salescenter-main-header-right-block {
	width: 100%;
}

.salescenter-link-container {
	margin-bottom: 12px;
}

.salescenter-link {
	border-bottom: 1px solid;
	text-decoration: none;
	transition: 250ms linear all;
}

.salescenter-link:hover {
	border-bottom-color: transparent;
	text-decoration: none;
}

.salescenter-main-settings {}

.salescenter-auth-popup-settings {
	clear: both;
	display: block;
	overflow: hidden;
	margin: 0 0 17px 0;
}

.salescenter-auth-popup-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	height: 70px;
	padding: 0 22px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid rgba(82,92,104,0.2);
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.salescenter-auth-popup-social:before {
	content: '';
	float: left;
	overflow: hidden;
	height: 26px;
	margin: 0 20px 0 0;
	min-width: 85px;
	background: url(images/logo-services.svg) no-repeat;
}

.salescenter-auth-popup-social-yandex:before {
	background-position: 0 0;
	width: 118px;
}

.salescenter-auth-popup-social-delimiter {
	float: left;
	height: 33px;
	padding: 18px 0 18px 12px;
	position: relative;
}

.salescenter-auth-popup-social-delimiter:before {
	content: '';
	display: block;
	width: 1px;
	top: 19px;
	bottom: 19px;
	left: 0;
	position: absolute;
	background: #dcdee1;
}

.salescenter-auth-popup-social-user {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 8px;
}

.salescenter-auth-popup-social-user-link {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #0b66c3;
	font-weight: var(--ui-font-weight-bold);
	cursor: pointer;
	text-decoration: none;
}

.salescenter-auth-popup-social-user-link:hover {
	text-decoration: underline;
}

.salescenter-auth-popup-social-shutoff {
	float: right;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.salescenter-auth-popup-social-shutoff-link {
	display: inline-block;
	font-size: 12px;
	color: #80868e;
	text-decoration: none;
}

.salescenter-auth-popup-social-shutoff-link:hover {
	color: #80868e;
	text-decoration: underline;
}

.salescenter-button-container {
	padding-top: 5px;
	margin-bottom: 15px;
}

.salescenter-paysystem-cashbox-block {
	margin: 6px 0 7px;
	padding: 20px 17px 23px 20px;
	background: #ebf9fe;
	transition: background .2s linear;
	border-radius: var(--ui-border-radius-md);
}

.salescenter-paysystem-cashbox-block--disabled {
	background: #f1fbfe;
}

.salescenter-paysystem-cashbox-block-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.salescenter-paysystem-cashbox-block-title {
	color: #333;
	margin-bottom: 8px;
	font: 16px/20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.salescenter-paysystem-cashbox-block-description {
	color: #979da5;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 15px;
}

.salescenter-main-cashbox-switcher-container {
	margin-left: auto;
}

.salescenter-main-cashbox-switcher-container > .ui-switcher {
	display: block;
}

.salescenter-paysystem-control-required:after {
	content: "*";
	color: red;
}

.salescenter-paysystem-section-title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
}

.salescenter-paysystem-angle-icon-after {
	cursor: pointer;
}

.salescenter-paysystem-section-title-block {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.salescenter-paysystem-angle-icon {
	width: 10px;
	height: 10px;
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: 15px;
}
.salescenter-paysystem-angle-icon::before {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	margin-left: -3px;
}
.salescenter-paysystem-angle-icon::after {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	margin-left: 3px;
}

.salescenter-paysystem-angle-icon::after, .salescenter-paysystem-angle-icon::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 9px;
	height: 2px;
	background-color: #767676;
	content: "";
	transition: all 250ms ease;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
}

.salescenter-settings-menu {
	margin-left: 5px;
}