/* root container */
.crm-copilot-textbox{
	display: flex;
	flex-direction: column;
	padding: 0 24px 28px;
	/* 100vh - header height - slider-content padding */
	max-height: calc(100vh - 83px - 20px);
	box-sizing: border-box;
	border-radius: var(--ui-border-radius-md);
	font-family: var(--ui-font-family-open-sans);
	background: white;

	--crm-copilot-font-color: #333333;
}

/* header */
.crm-copilot-textbox__header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 11px 0 14px 0;
	min-height: 35px;
	color: var(--crm-copilot-font-color);
}

.crm-copilot-textbox__title {
	font-style: normal;
	line-height: normal;
	font-family: var(--ui-font-family-open-sans);
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-regular);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: var(--crm-copilot-font-color);
}

.crm-copilot-textbox__title::first-letter{
	text-transform: capitalize;
}

/* search */
.crm-copilot-textbox__search {
	border-radius: 18px;
	height: 35px;
	width: 224px;

	--ui-field-size: 35px;
}

.crm-copilot-textbox__search-input{
	color: black;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-normal);
	font-style: normal;
	line-height: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.crm-copilot-textbox__search-input::placeholder{
	color: #C4C4C4;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-normal);
	font-style: normal;
	line-height: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0.5;
}

.with-input-node{
	background: #F3F3F3;
}

.crm-copilot-textbox__search-btn {
	right: 6px;
	opacity: 0.5;
}

/* todo: maybe this should be removed*/
.ui-ctl-icon-search,
.ui-ctl-icon-clear{
	transition: 0.2s ease !important;
}

/* text container */
.crm-copilot-textbox__content {
	width: 100%;
	margin-top: 24px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #EDEEF0 transparent;
}

.crm-copilot-textbox__content::-webkit-scrollbar{
	width: 6px;
}

.crm-copilot-textbox__content::-webkit-scrollbar-track{
	background: transparent;
}

.crm-copilot-textbox__content::-webkit-scrollbar-thumb{
	background: #EDEEF0;
	border-radius: 22px;
}

.crm-copilot-textbox__text-container {
	padding: 0 10px;
	border-left: 1px solid #DED0F4;
	color: var(--crm-copilot-font-color);
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: var(--ui-font-size-lg);
	font-style: normal;
	font-weight: var(--ui-font-weight-normal);
	line-height: 22px;
	caret-color: transparent;
}

.crm-copilot-textbox__text-container::selection,
.search-item::selection,
.crm-copilot-textbox__text-container br::selection{
	background: #B4D7FF;
	caret-color: transparent;
}

.search-item{
	background: #FFEC91;
	caret-color: transparent;
}

.crm-copilot-textbox__text-container:active,
.crm-copilot-textbox__text-container:focus{
	border: none;
	border-left: 1px solid #DED0F4;
	outline: none;
	caret-color: transparent;
}

