.sn-spaces__toolbar-space {
	display: flex;
	align-items: center;
	gap: 12px;
	height: 47px;
	padding: 0 10px;
	margin-bottom: 12px;
}

.sn-spaces__toolbar-space_basic {
	flex: 1;
	display: flex;
	gap: 12px;
}

.sn-spaces__toolbar-space_left-content,
.sn-spaces__toolbar-space_right-content {
	display: flex;
	align-items: center;
	gap: 12px;
}

.sn-spaces__toolbar-space_left-content {
	flex: 1;
	max-width: 1073px
}

.sn-spaces__toolbar_filter-container {
	transition: .2s;
}

.sn-spaces__toolbar_filter-container.--active {
	flex: 1;
}

.sn-spaces__toolbar-space_right-content {
	margin-left: auto;
}

.sn-spaces__toolbar-space_btn-text {
	margin: 0 3px 0 6px;
}

.sn-spaces__toolbar-space_separator {
	position: relative;
	display: flex;
	align-items: center;
}

.sn-spaces__toolbar-space_separator::before {
	content: '';
	display: block;
	width: 1px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: 50%;
	transform: translate(0, -50%);
	background-color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-20));
}

.sn-spaces__toolbar-space_btn-with-counter {
	--ui-icon-set__icon-color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-30));
}

.sn-spaces__toolbar-space_btn-with-counter.--active {
	--ui-icon-set__icon-color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-80));
}

.bitrix24-default-theme .sn-spaces__toolbar-space_btn-with-counter,
.bitrix24-dark-theme .sn-spaces__toolbar-space_btn-with-counter {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-30));
}

.bitrix24-default-theme .sn-spaces__toolbar-space_btn-with-counter.--active,
.bitrix24-dark-theme .sn-spaces__toolbar-space_btn-with-counter.--active {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-80));
}

.sn-spaces__toolbar-space_btn-more,
.sn-spaces__toolbar-space_btn-options {
	--ui-icon-set__icon-color: var(--ui-color-background-primary);
}

.bitrix24-default-theme .sn-spaces__toolbar-space_btn-more,
.bitrix24-default-theme .sn-spaces__toolbar-space_btn-options,
.bitrix24-dark-theme .sn-spaces__toolbar-space_btn-more,
.bitrix24-dark-theme .sn-spaces__toolbar-space_btn-options {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-80));
	color: rgba(var(--ui-color-text-primary-rgb), var(--ui-opacity-70));
}

.bitrix24-default-theme .sn-spaces__toolbar-space .ui-btn,
.bitrix24-dark-theme .sn-spaces__toolbar-space .ui-btn {
	--ui-btn-border-color-hover: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
	--ui-btn-background: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
}
.bitrix24-default-theme .sn-spaces__toolbar-space .ui-btn:hover,
.bitrix24-dark-theme .sn-spaces__toolbar-space .ui-btn:hover {
	--ui-btn-border-color-hover: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
}

.sn-spaces__toolbar-space_btn-with-counter {
	--ui-btn-margin-left: 8px;
}

.sn-spaces__toolbar-space_tasks-short-view-btn .tasks-scrum__switcher--container {
	padding: 8px 10px;
	font-size: 0;
	background-color: rgba(255, 255, 255, .15);
	transition: .2s;
}

.sn-spaces__toolbar-space_tasks-short-view-btn .tasks-scrum__switcher--container:hover {
	background-color: rgba(255, 255, 255, .3);
}

.bitrix24-default-theme .sn-spaces__toolbar-space_tasks-short-view-btn .tasks-scrum__switcher--container,
.bitrix24-dark-theme .sn-spaces__toolbar-space_tasks-short-view-btn .tasks-scrum__switcher--container {
	background-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
}

.bitrix24-dark-theme .sn-spaces__toolbar-space_tasks-short-view-btn .tasks-scrum__switcher--container:hover {
	background-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-10));
}

.bitrix24-default-theme .sn-spaces__toolbar-space_tasks-short-view-btn .tasks-scrum__switcher--container:hover {
	background-color: #f6f8f9;
}

.sn-spaces__toolbar-space_tasks-short-view-btn .tasks-scrum__switcher-cursor {
	margin-left: 0;
}

.sn-spaces-tasks-view-mode-list-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-list.svg) no-repeat center;
}

.sn-spaces-tasks-view-mode-kanban-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-kanban.svg) no-repeat center;
}

.sn-spaces-tasks-view-mode-timeline-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-terms.svg) no-repeat center;
}

.sn-spaces-tasks-view-mode-plan-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-plan.svg) no-repeat center;
}

.sn-spaces-tasks-view-mode-calendar-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-calendar.svg) no-repeat center;
}

.sn-spaces-tasks-view-mode-gantt-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-gantt.svg) no-repeat center;
}

.sn-spaces-tasks-scrum-plan-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-scrum-plan.svg) no-repeat center;
}

.sn-spaces-tasks-scrum-active-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-scrum-active.svg) no-repeat center;
}

.sn-spaces-tasks-scrum-completed-icon .menu-popup-item-icon {
	background: transparent url(images/tasks-scrum-complete.svg) no-repeat center;
}

.sn-spaces-tasks-icon-excel .menu-popup-item-icon {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2019%2020%22%3E%0A%20%20%3Cpath%20fill%3D%22%2317823A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M533.451179%2C2727.54357%20L536.593872%2C2727.54357%20L536.593872%2C2726.25433%20L533.451179%2C2726.25433%20L533.451179%2C2727.54357%20Z%20M533.447371%2C2731.99045%20L536.593123%2C2731.99045%20L536.593123%2C2730.68408%20L533.447371%2C2730.68408%20L533.447371%2C2731.99045%20Z%20M533.447039%2C2729.78645%20L536.592062%2C2729.78645%20L536.592062%2C2728.48242%20L533.447039%2C2728.48242%20L533.447039%2C2729.78645%20Z%20M533.448412%2C2725.29872%20L536.592957%2C2725.29872%20L536.592957%2C2723.99535%20L533.448412%2C2723.99535%20L533.448412%2C2725.29872%20Z%20M533.45045%2C2723.03339%20L536.590772%2C2723.03339%20L536.590772%2C2721.72811%20L533.45045%2C2721.72811%20L533.45045%2C2723.03339%20Z%20M537.824116%2C2733.39915%20C535.625862%2C2733.39919%20533.427608%2C2733.39919%20531.229332%2C2733.39915%20C531.079544%2C2733.39915%20531.079481%2C2733.39894%20531.07946%2C2733.24466%20C531.079419%2C2732.86671%20531.08256%2C2732.48875%20531.077276%2C2732.11088%20C531.075965%2C2732.01695%20531.105985%2C2731.99484%20531.195443%2C2731.99586%20C531.587203%2C2732.00039%20531.979046%2C2731.99592%20532.370827%2C2731.99931%20C532.451546%2C2732.00002%20532.47855%2C2731.97703%20532.477614%2C2731.89365%20C532.473453%2C2731.52269%20532.47597%2C2731.15167%20532.475513%2C2730.78068%20C532.475471%2C2730.75028%20532.471206%2C2730.71991%20532.467961%2C2730.6767%20L532.340307%2C2730.6767%20C531.958908%2C2730.67668%20531.577487%2C2730.6742%20531.196129%2C2730.67847%20C531.106298%2C2730.67944%20531.074717%2C2730.65483%20531.077422%2C2730.56161%20C531.083808%2C2730.34336%20531.084162%2C2730.12464%20531.077297%2C2729.90643%20C531.074301%2C2729.81154%20531.107691%2C2729.79076%20531.196316%2C2729.79174%20C531.588076%2C2729.79607%20531.979941%2C2729.79136%20532.371701%2C2729.79538%20C532.454937%2C2729.79623%20532.478238%2C2729.7701%20532.477427%2C2729.68882%20C532.473744%2C2729.31786%20532.47389%2C2728.94683%20532.477364%2C2728.57585%20C532.478092%2C2728.49819%20532.454459%2C2728.47501%20532.376735%2C2728.47572%20C531.98148%2C2728.47926%20531.586183%2C2728.47522%20531.190949%2C2728.47898%20C531.106755%2C2728.4798%20531.075549%2C2728.45774%20531.077609%2C2728.36916%20C531.08308%2C2728.13349%20531.083122%2C2727.89758%20531.077609%2C2727.66193%20C531.075487%2C2727.57214%20531.109522%2C2727.55142%20531.192384%2C2727.55213%20C531.577217%2C2727.5555%20531.962112%2C2727.5536%20532.346986%2C2727.55358%20L532.467316%2C2727.55358%20C532.470665%2C2727.51445%20532.475429%2C2727.48432%20532.475471%2C2727.4542%20C532.475991%2C2727.08668%20532.473099%2C2726.71911%20532.47778%2C2726.35163%20C532.478924%2C2726.26249%20532.448551%2C2726.24133%20532.364565%2C2726.24216%20C531.976279%2C2726.24597%20531.587868%2C2726.24089%20531.199603%2C2726.24586%20C531.102719%2C2726.24711%20531.075029%2C2726.21649%20531.077442%2C2726.12166%20C531.083517%2C2725.88256%20531.082165%2C2725.64317%20531.077942%2C2725.40401%20C531.076569%2C2725.32624%20531.101804%2C2725.30276%20531.179007%2C2725.3034%20C531.567314%2C2725.30669%20531.955662%2C2725.30488%20532.344011%2C2725.30486%20L532.468252%2C2725.30486%20C532.47104%2C2725.26618%20532.47545%2C2725.23283%20532.475492%2C2725.19948%20C532.476012%2C2724.83196%20532.473203%2C2724.4644%20532.477739%2C2724.09691%20C532.47882%2C2724.00831%20532.448821%2C2723.98576%20532.364523%2C2723.98655%20C531.972763%2C2723.99023%20531.58092%2C2723.98586%20531.18916%2C2723.98996%20C531.103198%2C2723.99086%20531.075716%2C2723.96587%20531.07763%2C2723.87901%20C531.082955%2C2723.6364%20531.082643%2C2723.39357%20531.077775%2C2723.15094%20C531.076049%2C2723.06537%20531.102012%2C2723.03693%20531.189201%2C2723.03784%20C531.57056%2C2723.04186%20531.95198%2C2723.03955%20532.33338%2C2723.03953%20L532.46638%2C2723.03953%20C532.469958%2C2723.00267%20532.475367%2C2722.97283%20532.475409%2C2722.943%20C532.476012%2C2722.56853%20532.47312%2C2722.19403%20532.477801%2C2721.81963%20C532.478904%2C2721.73235%20532.446387%2C2721.7164%20532.36858%2C2721.71704%20C531.973367%2C2721.7202%20531.578091%2C2721.71631%20531.182877%2C2721.7202%20C531.099931%2C2721.72101%20531.077089%2C2721.69457%20531.077858%2C2721.61373%20C531.081478%2C2721.2289%20531.081354%2C2720.844%20531.077942%2C2720.45917%20C531.077234%2C2720.37941%20531.0986%2C2720.35199%20531.182419%2C2720.35207%20C533.41188%2C2720.35417%20535.64134%2C2720.35371%20537.870801%2C2720.35398%20C537.898054%2C2720.35398%20537.925265%2C2720.35773%20537.961277%2C2720.36037%20C537.963774%2C2720.41176%20537.968122%2C2720.45942%20537.968122%2C2720.50708%20C537.968434%2C2724.75798%20537.968413%2C2729.00888%20537.968371%2C2733.25979%20C537.968371%2C2733.3989%20537.968101%2C2733.39913%20537.824116%2C2733.39915%20L537.824116%2C2733.39915%20Z%20M527.809946%2C2730.28417%20C527.35207%2C2730.23255%20526.894279%2C2730.17988%20526.435946%2C2730.1322%20C526.353167%2C2730.12356%20526.31031%2C2730.09123%20526.276712%2C2730.01378%20C525.929243%2C2729.21282%20525.57751%2C2728.4137%20525.226859%2C2727.61414%20C525.218683%2C2727.59544%20525.209321%2C2727.57728%20525.193448%2C2727.54407%20C525.177117%2C2727.5778%20525.165279%2C2727.59933%20525.155959%2C2727.62188%20C524.853968%2C2728.35175%20524.552872%2C2729.08195%20524.248156%2C2729.81067%20C524.236193%2C2729.8393%20524.188094%2C2729.87448%20524.160446%2C2729.8716%20C523.691836%2C2729.82311%20523.223808%2C2729.76912%20522.755718%2C2729.7158%20C522.750081%2C2729.71518%20522.745212%2C2729.70784%20522.732148%2C2729.69733%20C522.804816%2C2729.55557%20522.878025%2C2729.41186%20522.952046%2C2729.26854%20C523.416308%2C2728.36958%20523.880091%2C2727.47034%20524.346621%2C2726.57255%20C524.377931%2C2726.5123%20524.373583%2C2726.46655%20524.345102%2C2726.40882%20C523.84254%2C2725.38951%20523.341684%2C2724.36932%20522.840599%2C2723.34928%20C522.824205%2C2723.31589%20522.809414%2C2723.28169%20522.784948%2C2723.22843%20C522.892317%2C2723.22233%20522.978113%2C2723.21601%20523.064034%2C2723.21287%20C523.445017%2C2723.19891%20523.826105%2C2723.18772%20524.206943%2C2723.17084%20C524.276636%2C2723.16774%20524.305159%2C2723.19735%20524.32925%2C2723.25466%20C524.631344%2C2723.97323%20524.934875%2C2724.69122%20525.238135%2C2725.40931%20C525.24966%2C2725.43661%20525.262247%2C2725.46342%20525.280658%2C2725.50453%20C525.372861%2C2725.25694%20525.453955%2C2725.02219%20525.547178%2C2724.79237%20C525.765911%2C2724.25303%20525.989388%2C2723.71558%20526.215049%2C2723.17908%20C526.230132%2C2723.1432%20526.27848%2C2723.09903%20526.313431%2C2723.09714%20C526.849779%2C2723.06805%20527.386439%2C2723.04525%20527.923078%2C2723.02168%20C527.942176%2C2723.02085%20527.961586%2C2723.02723%20527.994976%2C2723.03246%20C527.974526%2C2723.0749%20527.959984%2C2723.10854%20527.942613%2C2723.14066%20C527.350448%2C2724.2347%20526.758844%2C2725.32901%20526.163829%2C2726.42149%20C526.1253%2C2726.49222%20526.129399%2C2726.54319%20526.165265%2C2726.61147%20C526.792318%2C2727.80466%20527.416896%2C2728.99915%20528.041765%2C2730.19348%20C528.060363%2C2730.22902%20528.076528%2C2730.26588%20528.103386%2C2730.32214%20C527.991336%2C2730.30755%20527.900818%2C2730.29445%20527.809946%2C2730.28417%20L527.809946%2C2730.28417%20Z%20M538.846362%2C2719.30001%20C536.301493%2C2719.30001%20533.756602%2C2719.29939%20531.211753%2C2719.30217%20C531.108211%2C2719.3023%20531.076069%2C2719.27788%20531.077089%2C2719.17013%20C531.082581%2C2718.59118%20531.079668%2C2718.01214%20531.079668%2C2717.43314%20L531.079668%2C2717.31758%20C531.055265%2C2717.31258%20531.048358%2C2717.30917%20531.042263%2C2717.31023%20C529.502663%2C2717.57721%20527.96325%2C2717.84542%20526.423484%2C2718.11156%20C524.323695%2C2718.47453%20522.223739%2C2718.83644%20520.12343%2C2719.19628%20C520.032392%2C2719.21189%20520.000146%2C2719.24147%20520.000208%2C2719.34%20C520.003017%2C2724.25292%20520.003058%2C2729.16585%20520%2C2734.07878%20C519.999938%2C2734.18263%20520.033391%2C2734.21265%20520.129151%2C2734.22809%20C520.560127%2C2734.29747%20520.989917%2C2734.37432%20521.420102%2C2734.44869%20C523.000894%2C2734.72201%20524.581644%2C2734.99561%20526.162477%2C2735.26879%20C527.596476%2C2735.51656%20529.030516%2C2735.76409%20530.464598%2C2736.01136%20C530.664816%2C2736.0459%20530.865387%2C2736.07841%20531.079668%2C2736.1142%20L531.079668%2C2735.98779%20L531.079668%2C2734.52117%20C531.079668%2C2734.49692%20531.081686%2C2734.47247%20531.07946%2C2734.4484%20C531.073781%2C2734.38692%20531.098434%2C2734.35722%20531.162156%2C2734.36123%20C531.19667%2C2734.36342%20531.231475%2C2734.36129%20531.266135%2C2734.36129%20C533.793654%2C2734.36127%20536.321194%2C2734.36132%20538.848693%2C2734.36096%20C538.898976%2C2734.36096%20538.949238%2C2734.35641%20539%2C2734.35393%20L539%2C2719.30001%20L538.846362%2C2719.30001%20Z%22%20transform%3D%22translate%28-520%20-2717%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
}

.sn-spaces-tasks-icon-outlook .menu-popup-item-icon {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2019%2019%22%3E%0A%20%20%3Cpath%20fill%3D%22%230070C9%22%20fill-rule%3D%22evenodd%22%20d%3D%22M526.478789%2C2752.85092%20C526.072069%2C2752.3014%20525.276655%2C2752.31084%20524.857428%2C2752.78097%20C524.652935%2C2753.01031%20524.525712%2C2753.27881%20524.447363%2C2753.57243%20C524.310458%2C2754.08544%20524.305849%2C2754.60584%20524.379236%2C2755.12722%20C524.426141%2C2755.46055%20524.52941%2C2755.77711%20524.72424%2C2756.0577%20C525.049304%2C2756.52582%20525.571558%2C2756.68592%20526.066234%2C2756.46475%20C526.365763%2C2756.33082%20526.549797%2C2756.08584%20526.680458%2C2755.79647%20C526.862409%2C2755.39356%20526.905319%2C2754.96452%20526.922769%2C2754.52705%20C526.898499%2C2754.2783%20526.884895%2C2754.02795%20526.847357%2C2753.78123%20C526.796215%2C2753.44487%20526.684676%2C2753.12912%20526.478789%2C2752.85092%20M538.797277%2C2749.49017%20C538.646788%2C2749.20676%20538.441049%2C2749.02499%20538.091548%2C2749.02598%20C536.03903%2C2749.0317%20533.986494%2C2749.02928%20531.933957%2C2749.02703%20C531.849198%2C2749.02696%20531.823813%2C2749.04885%20531.824017%2C2749.13556%20C531.826805%2C2750.30887%20531.826414%2C2751.4822%20531.8245%2C2752.65551%20C531.824389%2C2752.71905%20531.844236%2C2752.75629%20531.897812%2C2752.78971%20C532.286302%2C2753.03196%20532.674029%2C2753.2755%20533.059545%2C2753.52247%20C533.153485%2C2753.58265%20533.232168%2C2753.57759%20533.323042%2C2753.51619%20C534.945759%2C2752.41971%20536.569461%2C2751.32465%20538.193534%2C2750.23012%20C538.408676%2C2750.08511%20538.626922%2C2749.94469%20538.843736%2C2749.80216%20L538.843736%2C2749.57915%20C538.828256%2C2749.54949%20538.812962%2C2749.51972%20538.797277%2C2749.49017%20M533.405906%2C2754.95233%20C533.247983%2C2755.05749%20533.118362%2C2755.0558%20532.959492%2C2754.94661%20C532.612648%2C2754.70818%20532.265897%2C2754.4696%20531.918849%2C2754.23146%20C531.893129%2C2754.21378%20531.865458%2C2754.19895%20531.829332%2C2754.17715%20C531.827529%2C2754.21322%20531.82582%2C2754.23157%20531.82582%2C2754.24993%20C531.825708%2C2755.86936%20531.826377%2C2757.48878%20531.823868%2C2759.10819%20C531.823738%2C2759.19474%20531.861835%2C2759.20159%20531.930334%2C2759.20144%20C532.66418%2C2759.1999%20533.398027%2C2759.20065%20534.131873%2C2759.20046%20C535.404513%2C2759.20014%20536.677134%2C2759.20148%20537.949755%2C2759.19803%20C538.348633%2C2759.19695%20538.677042%2C2758.94798%20538.802035%2C2758.57005%20C538.812293%2C2758.53905%20538.829669%2C2758.51041%20538.843736%2C2758.48068%20L538.843736%2C2751.32601%20C538.816195%2C2751.34591%20538.789249%2C2751.36676%20538.760984%2C2751.38561%20C536.976014%2C2752.57462%20535.190969%2C2753.76347%20533.405906%2C2754.95233%20M528.148485%2C2754.3694%20C528.150659%2C2755.1078%20528.059934%2C2755.74618%20527.776832%2C2756.34474%20C527.510177%2C2756.90849%20527.12873%2C2757.3691%20526.549295%2C2757.63526%20C526.18554%2C2757.80232%20525.801176%2C2757.85795%20525.401722%2C2757.82338%20C524.411794%2C2757.73773%20523.809445%2C2757.14742%20523.414675%2C2756.29393%20C523.231552%2C2755.89803%20523.144711%2C2755.4754%20523.112636%2C2755.04042%20C523.063817%2C2754.37841%20523.098141%2C2753.7245%20523.302374%2C2753.08842%20C523.495903%2C2752.48564%20523.812716%2C2751.96262%20524.330621%2C2751.58097%20C524.705638%2C2751.30462%20525.13135%2C2751.18115%20525.595883%2C2751.16777%20C526.128693%2C2751.15244%20526.614356%2C2751.28009%20527.032653%2C2751.61723%20C527.51722%2C2752.0078%20527.80861%2C2752.52465%20527.978445%2C2753.11505%20C528.103996%2C2753.5515%20528.154376%2C2753.99836%20528.148485%2C2754.3694%20M530.914723%2C2745.01847%20C529.96685%2C2745.20339%20529.018772%2C2745.38724%20528.070694%2C2745.57116%20C527.089203%2C2745.76157%20526.107731%2C2745.95203%20525.12611%2C2746.14173%20C524.086861%2C2746.34258%20523.047389%2C2746.54219%20522.00814%2C2746.74308%20C521.35385%2C2746.86956%20520.69982%2C2746.99745%20520.045604%2C2747.12434%20C520.03083%2C2747.1272%20520.01522%2C2747.12564%20520%2C2747.12612%20L520%2C2761.71422%20C521.385739%2C2762.00405%20522.771665%2C2762.29308%20524.157181%2C2762.58395%20C525.322371%2C2762.82857%20526.486947%2C2763.07604%20527.652099%2C2763.3209%20C528.69343%2C2763.53972%20529.735168%2C2763.75663%20530.776629%2C2763.97502%20C530.796699%2C2763.97924%20530.81506%2C2763.99149%20530.834219%2C2764%20L531.094389%2C2764%20C531.094333%2C2757.72308%20531.094278%2C2751.44619%20531.094222%2C2745.16929%20C531.094203%2C2744.98115%20531.094649%2C2744.98338%20530.914723%2C2745.01847%22%20transform%3D%22translate%28-520%20-2745%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
}

.main-grid-fixed-top {
	display: none;
}

.sn-spaces-discussions-composition-header {
	display: flex;
	padding: 15px;
	background: #ecfafe;
	border-radius: var(--ui-border-radius-lg) var(--ui-border-radius-lg) 0 0;
}

.sn-spaces-discussions-composition-header-title {
	font-size: var(--ui-font-size-xl);
	color: #525C69;
}

.sn-spaces-discussions-composition-header-space-name {
	font-size: var(--ui-font-size-xl);
	color: #525C69;
	font-weight: var(--ui-font-weight-semi-bold);
}

.sn-spaces-discussions-composition-header-icon {
	--ui-icon-set__icon-size: 19px;
	background: transparent url(images/discussions-composition-header.svg) no-repeat center;
	height: 60px;
	width: 60px;
	padding: 0 6px 0 12px;
}

.sn-spaces-discussions-composition-filters {
	padding: 4px 15px;
}

.sn-spaces-discussions-composition-filters-item {
	display: flex;
	align-items: center;
	margin: 14px 0;
}

.sn-spaces-discussions-composition-item-switcher {
	margin-right: 9px;
}

.sn-spaces-discussions-composition-filters-item .sn-spaces__popup-settings_name {
	color: #525C69;
	font-weight: 500;
}
.sn-spaces__toolbar-space_counters {
	position: relative;
	display: flex;
	align-items: center;
}

.sn-spaces__toolbar-space_btn-counter {
	position: absolute;
	top: -50%;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 21px;
	min-height: 16px;
	box-sizing: border-box;
	transform: translate(0, 50%);
	padding: 0 3px;
	border-radius: var(--ui-border-radius-pill);
	font-size: var(--ui-font-size-3xs);
	font-weight: var(--ui-font-weight-bold);
	line-height: var(--ui-font-line-height-reset);
	color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-50));
	background-color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-30));
}

.bitrix24-default-theme .sn-spaces__toolbar-space_btn-counter,
.bitrix24-dark-theme .sn-spaces__toolbar-space_btn-counter {
	color: rgba(var(--ui-color-base-default-rgb), var(--ui-opacity-50));
	background-color: rgba(var(--ui-color-palette-black-solid-rgb), var(--ui-opacity-10));
}

.sn-spaces__toolbar-space_btn-with-counter.--active .sn-spaces__toolbar-space_btn-counter {
	color: var(--ui-color-on-primary);
	background-color: #FF5752;
}

.sn-spaces__toolbar-space_btn-with-counter.--active.--green .sn-spaces__toolbar-space_btn-counter {
	color: var(--ui-color-on-primary);
	background-color: rgba(142,187,0,1);
}
.ui-btn.tasks-scrum-robot-btn {
	padding: 0 12px 0 36px;
	font-size: 13px;
	line-height: 25px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.ui-btn.tasks-scrum-robot-btn:before {
	content: '';
	position: absolute;
	left: 12px;
	top: 8px;
	width: 15px;
	height: 13px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23535c69%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
	transition: .2s;
}

.bitrix24-light-theme .pagetitle-below .ui-btn.tasks-scrum-robot-btn:before {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
}

.bitrix24-dark-theme .pagetitle-below .ui-btn.tasks-scrum-robot-btn {
	border: 1px solid rgba(0, 0, 0, .06);
	background: rgba(0, 0, 0, .07);
}

.bitrix24-light-theme .ui-btn.tasks-scrum-robot-btn:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
}

.ui-btn.tasks-scrum-robot-btn.ui-btn-icon-lock {
	margin-right: 22px;
}

.tasks-scrum-robot-btn.ui-btn-icon-lock.ui-btn:after,
.tasks-scrum-robot-btn.ui-btn-icon-lock.ui-btn-main:after {
	left: auto;
	right: -22px;
	width: 14px;
	height: 14px;
	background-size: 22px 22px;
}

.tasks-scrum-robot-btn-container {
	display: flex;
	margin-right: 12px;
	align-items: center;
	padding-left: 16px;
	position: relative;
}
