/* region Header */

.intranet-settings-widget__container {
	overflow: hidden;
}

.intranet-settings-widget__header {
	position: relative;
	display: flex;
	align-items: center;
	margin: -13px -13px 0 -13px;
	border-radius: var(--ui-border-radius-3xl) var(--ui-border-radius-3xl) 0 0;
	height: 80px;
	width: calc(100% + 26px);
	background-size: cover;
}

.intranet-settings-widget__header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: var(--ui-border-radius-3xl) var(--ui-border-radius-3xl) 0 0;
	background-color: rgba(var(--ui-color-palette-black-solid-rgb), 0.13);
}

.bitrix24-light-theme .intranet-settings-widget__header:before {
	border: 1px solid rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-20));
}

.intranet-settings-widget__header_inner {
	display: flex;
	align-items: center;
	margin: -14px 13px 0 28px;
	overflow: hidden;
}

.bitrix24-theme-dark .intranet-settings-widget__header-name,
.bitrix24-theme-default .intranet-settings-widget__header-name {
	color: var(--ui-color-base-90);
}

.bitrix24-theme-dark .intranet-settings-widget__header-btn.ui-icon-set,
.bitrix24-theme-default .intranet-settings-widget__header-btn.ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-90);
}

.intranet-settings-widget__header-name {
	position: relative;
	margin-right: 6px;
	max-width: 100%;
	font-size: var(--ui-font-size-xl);
	color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-90));
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.intranet-settings-widget__header-btn.ui-icon-set {
	--ui-icon-set__icon-size: 19px;
	--ui-icon-set__icon-color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-60));
	cursor: pointer;
}

.ui-popupcomponentmaker__content--section-item.--widget-header {
	margin: 0 0 -20px 0;
	overflow: unset;
}

.intranet-settings-widget__skeleton,
.intranet-settings-widget__skeleton-no-holding,
.intranet-settings-widget__skeleton-no-requisite,
.intranet-settings-widget__skeleton-no-requisite-holding {
	width: 404px !important;
	margin-top: -28px;
	margin-left: -39px;
	margin-bottom: -13px;
}

.intranet-settings-widget__skeleton {
	background-image: url("images/intranet-settings-widget-skeleton-xl.svg");
	height: 454px !important;
	margin-left: -33px;
}

.intranet-settings-widget__skeleton-no-requisite {
	background-image: url("images/intranet-settings-widget-skeleton-sm.svg");
	height: 292px !important;
}

.intranet-settings-widget__skeleton-no-holding {
	background-image: url("images/intranet-settings-widget-skeleton-md.svg");
	height: 379px !important;
}

.intranet-settings-widget__skeleton-no-requisite-holding {
	background-image: url("images/intranet-settings-widget-skeleton-xs.svg");
	height: 215px !important;
}

/* endregion */

/* region Branch */

.intranet-settings-widget__branch {
	display: flex;
	align-items: center;
	padding: 12px;
	max-height: 64px;
	box-sizing: border-box;
	cursor: pointer;
}

.intranet-settings-widget__branch-icon_box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	width: 40px;
	height: 40px;
	border-radius: var(--ui-border-radius-circle);
	background-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-10));
}

.intranet-settings-widget__branch-icon {
	position: absolute;
	--ui-icon-set__icon-size: 30px;
	--ui-icon-set__icon-color: var(--ui-color-base-40);
}

.intranet-settings-widget__branch-lock-icon_box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border-radius: var(--ui-border-radius-circle);
	background-color: white;
	position: relative;
	left: 16px;
	bottom: 16px;
}

.intranet-settings-widget__branch-lock-icon {
	--ui-icon-set__icon-size: 15px;
	--ui-icon-set__icon-color: var(--ui-color-base-40);
}

.intranet-settings-widget__branch_content {
	margin-right: 12px;
	overflow: hidden;
}

.intranet-settings-widget__branch-title,
.intranet-settings-widget__title {
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.intranet-settings-widget__branch-title {
	line-height: 14px;
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-base-50);
}

.intranet-settings-widget__title {
	line-height: 17px;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-base-90);
}

.intranet-settings-widget__branch-btn_box {
	padding-left: 12px;
	margin-left: auto;
	border-left: 1px solid var(--ui-color-base-10);
}

.intranet-settings-widget__close-btn {
	margin-bottom: 15px;
}

.intranet-settings-widget__close-btn .intranet-settings-widget__close-btn_icon {
	margin-right: 10px;
	cursor: pointer;
}

.intranet-settings-widget__close-btn_name {
	font-size: var(--ui-font-size-2xl);
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-base-90);
}

/* endregion */

/* region Main */

.ui-popupcomponentmaker__content--section-item.--widget-item {
	margin: 0 0 12px 0;
	overflow: unset;
}

.intranet-settings-widget_inline-box {
	display: flex;
	justify-content: space-between;
}

.intranet-settings-widget_inline-box > *:not(:last-child) {
	margin-right: 8px;
}

.intranet-settings-widget_box,
.intranet-settings-widget_box .intranet-settings-widget_inner {
	display: flex;
	align-items: center;
	overflow: hidden;
	justify-content: space-between;
}

.intranet-settings-widget_box .intranet-settings-widget__arrow-btn {
	margin-left: auto;
}

.intranet-settings-widget__arrow-btn,
.intranet-settings-widget__business-card_footer .ui-icon-set.--more-information,
.intranet-settings-widget__business-card_footer .ui-icon-set.--link-3,
.intranet-settings-widget__close-btn_icon {
	--ui-icon-set__icon-size: 19px;
	--ui-icon-set__icon-color: var(--ui-color-base-40);
	cursor: pointer;
}

.intranet-settings-widget_box:hover .intranet-settings-widget__arrow-btn,
.intranet-settings-widget__business-card_footer .ui-icon-set.--more-information:hover,
.intranet-settings-widget__business-card_footer .ui-icon-set.--link-3:hover,
.intranet-settings-widget__close-btn:hover .intranet-settings-widget__close-btn_icon {
	--ui-icon-set__icon-color: var(--ui-color-base-60);
}

.intranet-settings-widget_icon-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
	min-width: 26px;
	height: 26px;
	border-radius: var(--ui-border-radius-circle);
}

.intranet-settings-widget_icon-box.--yellow {
	background-color: var(--ui-color-background-warning);
}

.intranet-settings-widget_icon-box.--green {
	background-color: var(--ui-color-background-success);
}

.intranet-settings-widget_icon-box.--green .ui-icon-set,
.intranet-settings-widget_icon-box.--yellow .ui-icon-set,
.intranet-settings-widget_icon-box.--gray .ui-icon-set {
	--ui-icon-set__icon-size: 19px;
}

.intranet-settings-widget_icon-box.--gray {
	background-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-10));
}

.intranet-settings-widget_icon-box.--gray .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-60);
}

.intranet-settings-widget_icon-box.--green .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-palette-green-60);
}

.intranet-settings-widget_icon-box.--yellow .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-palette-orange-60);
}

/* endregion */

/* region Business card */

.intranet-settings-widget_box,
.intranet-settings-widget__business-card {
	padding: 10px;
}

.intranet-settings-widget__business-card_head,
.intranet-settings-widget__business-card_footer,
.intranet-settings-widget__popup-item,
.intranet-settings-widget__business-card_footer,
.intranet-settings-widget__close-btn {
	display: flex;
	align-items: center;
}

.intranet-settings-widget_box.--clickable:hover {
	cursor: pointer;
}

.intranet-settings-widget__business-card_main {
	height: 60px;
	border-radius: var(--ui-border-radius-sm);
	background: var(--ui-color-background-info) url(images/intranet-settings-widget-skeleton-icon.svg) bottom center no-repeat;
}

.intranet-settings-widget__business-card .ui-icon-set.--help {
	cursor: pointer;
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-base-35);
	margin-left: 5px;
}

.intranet-settings-widget__business-card_footer {
	justify-content: center;
	overflow: hidden;
}

.intranet-settings-widget__business-card_footer .intranet-settings-widget__requisite-btn {
	margin-left: 12px;
	display: flex;
}

/* endregion */

/* region Footer */

.intranet-settings-widget__footer {
	display: flex;
	justify-content: center;
}

.intranet-settings-widget__footer-item {
	margin-right: 12px;
	border-bottom: 1px dashed rgba(var(--ui-color-base-50-rgb), var(--ui-opacity-40));
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-base-50);
	transition: border-color .3s;
	cursor: pointer;
}

.intranet-settings-widget__footer-item:hover {
	border-color: var(--ui-color-background-transparent);
}

.intranet-settings-widget__footer-item:last-child {
	margin-right: 0;
}

/* endregion */

/* region Popup */

.intranet-settings-widget__popup-item .ui-icon-set {
	margin-right: 8px;
}

.intranet-settings-widget__popup-name {
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* endregion */

.intranet-setting__btn-light.ui-btn {
	padding-inline: 8px;
	min-width: 60px;
	height: 19px;
	border-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-20));
	font-size: var(--ui-font-size-4xs);
	font-weight: var(--ui-font-weight-semi-bold);
	color: var(--ui-color-base-90);
}

.intranet-setting__btn-light.ui-btn:hover {
	border-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-40));
	background-color: var(--ui-color-background-transparent);
}

.intranet-setting__btn-copy.ui-btn {
	background-color: #4d98e5;
}

.intranet-setting__btn-copy.ui-btn:hover {
	background-color: #60acfd;
}
