/*region payment*/
.order-payment-container {
	position: relative;
	min-width: calc(100% - 10px);
	width: calc(100% - 10px);
	margin: 0 5px 15px;
	z-index: 5;
	padding: 12px 15px;
	border: 1px solid rgba(151, 151, 151, 0.33);
	border-radius: 6px;
}

.order-payment-container.order-payment-sibling-container:before {
	position: absolute;
	top: -21px;
	left: 20px;
	width: 1px;
	height: 17px;
	background: rgba(151, 151, 151, 0.33);
	content: '';
}

.order-payment-title {
	margin-bottom: 6px;
	color: rgba(172, 172, 180, 0.78);
	font: 13px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-inner { }

.order-payment-operator {
	padding-right: 10px;
	max-width: 170px;
}

.order-payment-operator img {
	max-width: 100%;
	height: auto;
}

.order-payment-status {
	padding-right: 10px;
	color: #393945;
	text-transform: uppercase;
	white-space: nowrap;
	font: 500 10px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-status-ok {
	width: 16px;
	height: 12px;
	background: url(images/payment-check.svg) no-repeat left center;
}

.order-payment-price {
	color: rgba(44, 44, 54, 0.6);
	white-space: nowrap;
	font: 14px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-price .rub { font-family: 'rubleBitrix'; }

.order-payment-buttons-container {
	margin-top: 20px;
	padding-bottom: 15px;
	text-align: center;
}

/*endregion*/

.order-payment-method-container .main-user-consent-request-announce {
	font: 11px/13px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-method-container .main-user-consent-request {
	padding: 15px;
	margin: 0;
}

a.check-link {
	color: rgb(83, 173, 235);
	text-decoration: underline;
}

a.check-link:hover { text-decoration: none; }

.page-section input[type=submit] {
	margin: 25px auto auto;
	display: block;
}

.order-payment-pay-system-name {
	color: #8f9297;
	font-size: 21px;
}

.order-payment-operator .order-payment-pay-system-name { font-size: 16px; }

.order-payment-loader {
	position: relative;
	color: transparent !important;
}

.order-payment-loader:after {
	content: '';
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -6px;
	margin-left: -6px;
	animation-name: spin;
	animation-duration: 1000ms !important;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/*endregion*/

/*region payment list*/
.checkout-basket-pay-method-list {}

.checkout-basket-pay-method-item-container {
	display: flex;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid rgba(18, 18, 18, .1);
	flex-wrap: wrap;
}

.checkout-basket-pay-method-list .checkout-basket-pay-method-item-container:last-child { border-bottom: none; }

.checkout-basket-pay-method-item-logo-block {
	width: 66px;
	min-width: 66px;
	max-width: 66px;
	height: 46px;
	padding: 3px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.checkout-basket-pay-method-logo {
	background-color: #fff;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}

.checkout-basket-pay-method-text-block {
	padding: 0 10px;
	flex: 1;
}

.checkout-basket-pay-method-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font: 15px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	word-break: break-word;
	overflow: hidden;
}

.checkout-basket-pay-method-btn-block {}

.checkout-basket-pay-method-helper { line-height: 15px; }

.checkout-basket-pay-method-helper-link {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font: 12px/15px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	opacity: 0.4;
	border-bottom: 1px dashed;
	transition: 170ms linear all;
	word-break: break-word;
	overflow: hidden;
	cursor: pointer;
}

.checkout-basket-pay-method-helper-link:hover {
	color: #333;
	opacity: 1;
}

.checkout-basket-pay-method-description {
	padding: 4px 0;
	width: 100%;
	min-width: 100%;
	font: 15px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

.checkout-payment-method-container { padding: 0 16px; }

.checkout-basket-personal-order-info { margin-bottom: 25px; }

.checkout-basket-personal-order-info-item { font: 16px/22px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.checkout-basket-personal-order-info-item strong { font-weight: 500; }

/*endregion*/

/* crutches by Epifanova*/
.checkout-basket-section-description {
	font: 14px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	text-align: left;
	width: 100%;
	border-top: 1px solid rgba(18, 18, 18, 0.1);
}

/*endregion*/

/*gray-theme region*/

.gray-theme .checkout-basket-personal-order-info-item strong {
	color: #ffffff;
}

/*endregion*/
