.bx-im-sidebar-detail__scope.bx-im-sidebar-file-other-detail__scope {
	padding: 0 15px;
	height: calc(100% - var(--im-sidebar-detail__height_header) - var(--im-sidebar-detail__height_tabs));
}

.bx-im-sidebar-file-other-detail__scope .bx-im-sidebar-detail-empty-state__container {
	margin-top: 54px;
}

.bx-im-sidebar-file-other-detail__date-group_container {
	display: flex;
	flex-direction: column;
}