

/* Start:/bitrix/components/bitrix/intranet.ustat/style.min.css?170177516033354*/
.pulse-top-wrap {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-main-bg.png?14071) repeat #97a6ac; 
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-main-bg.png?14071) repeat, 	-webkit-radial-gradient(50% 0%, ellipse farthest-side, rgba(95,105,117,0) 40%, rgba(95,105,117,0.3) 80%, rgba(95,105,117,1) 120%),
	#afbfc1;
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-main-bg.png?14071) repeat, 	-moz-radial-gradient(50% 0%, ellipse farthest-side, rgba(95,105,117,0) 40%, rgba(95,105,117,0.3) 80%, rgba(95,105,117,1) 120%),
	#afbfc1;
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-main-bg.png?14071) repeat, 	-ms-radial-gradient(50% 0%, ellipse farthest-side, rgba(95,105,117,0) 40%, rgba(95,105,117,0.3) 80%, rgba(95,105,117,1) 120%),
	#afbfc1;
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-main-bg.png?14071) repeat, 	-o-radial-gradient(50% 0%, ellipse farthest-side, rgba(95,105,117,0) 40%, rgba(95,105,117,0.3) 80%, rgba(95,105,117,1) 120%),
	#afbfc1;
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-main-bg.png?14071) repeat, radial-gradient(50% 0,ellipse farthest-side,rgba(95,105,117,0) 40%,rgba(95,105,117,0.3) 80%,rgba(95,105,117,1) 120%),#afbfc1;-webkit-box-shadow:inset 0 -1px 0 rgba(83,94,113,.48),;box-shadow:inset 0 -2px 3px rgba(83,94,113,.48);overflow:hidden;min-width:1100px;height:0;position:relative;z-index:995;font-family:var(--ui-font-family-primary,var(--ui-font-family-helvetica))}.pulse-top-wrap-light{margin-bottom:0;height:0}.pulse-top-wrap-light .pulse-loading-first-anim{top:0}.pulse-top-wrap-light .pulse-loading-block{top:0}.pulse-top-wrap-light .pulse-main-wrap{margin-top:0;}

.pulse-top-wrap-light .pulse-close-btn {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-close-btn-lite.png?14071) no-repeat 0 0;}.pulse-loading-block{background:#727e86;background:-webkit-linear-gradient(top,rgba(114,126,134,.8),rgba(114,126,134,.8),rgba(114,126,134,.8)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:-moz-linear-gradient(top,rgba(114,126,134,.8),rgba(114,126,134,.8),rgba(114,126,134,.8)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:-ms-linear-gradient(top,rgba(114,126,134,.8),rgba(114,126,134,.8),rgba(114,126,134,.8)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:-o-linear-gradient(top,rgba(114,126,134,.8),rgba(114,126,134,.8),rgba(114,126,134,.8)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:linear-gradient(to bottom,rgba(114,126,134,.8),rgba(114,126,134,.8),rgba(114,126,134,.8)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;display:none;height:592px;left:0;right:0;top:0;position:absolute;z-index:2}.pulse-loading-block-waiter{margin:-35px 0 0 -35px;top:50%;left:50%;position:absolute}.pulse-loading-first-anim{background:#192433;background:-webkit-linear-gradient(top,rgba(50,59,72,.7),rgba(50,59,72,1) 28%,rgba(50,59,72,1) 62%,rgba(50,59,72,.7)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:-moz-linear-gradient(top,rgba(50,59,72,.7),rgba(50,59,72,1) 28%,rgba(50,59,72,1) 62%,rgba(50,59,72,.7)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:-ms-linear-gradient(top,rgba(50,59,72,.7),rgba(50,59,72,1) 28%,rgba(50,59,72,1) 62%,rgba(50,59,72,.7)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:-o-linear-gradient(top,rgba(50,59,72,.7),rgba(50,59,72,1) 28%,rgba(50,59,72,1) 62%,rgba(50,59,72,.7)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;background:linear-gradient(to bottom,rgba(50,59,72,.7),rgba(50,59,72,1) 28%,rgba(50,59,72,1) 62%,rgba(50,59,72,.7)),url(/bitrix/components/bitrix/intranet.ustat/images/load-bg.jpg?14071) no-repeat center 0;top:0;left:0;right:0;height:592px;position:absolute;z-index:2}.pulse-loading-first-anim-title{color:#d4e6f4;font-size:52px;text-align:center;padding-top:32px}.pulse-loading-first-anim-text{bottom:90px;color:#9da0a5;font-size:18px;text-align:center;left:0;right:0;padding-left:13px;position:absolute;}

.pulse-loading-first-anim-rate {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/rate-diagram.png?14071) no-repeat 0 0 rgba(50,59,72,1); height:178px;margin-left:-366px;top:176px;left:50%;overflow:hidden;position:absolute;width:732px}.pulse-loading-first-anim-black{background-color:rgba(50,59,72,1);height:178px;right:0;top:0;position:absolute;width:732px;}

.pulse-loading-first-anim-shadow {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/rate-shadow.png?14071) repeat-x 0 0; height:178px;top:0;right:0;position:absolute;width:1464px}.pulse-main-wrap{height:537px;margin:0;min-width:1117px;overflow:hidden;padding:0 0 55px;position:relative;z-index:2}.pulse-wrap{margin:0 auto;padding:0 56px;position:relative;width:1005px;}

.pulse-close-btn {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-close-btn.png?14071) no-repeat 0 0; bottom:0;cursor:pointer;height:28px;margin-left:-35px;left:50%;position:absolute;width:71px;z-index:3;}


.pulse-close-icon,
.pulse-back-icon{
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat right -606px; height:56px;right:0;top:0;opacity:.6;position:absolute;width:56px}.pulse-back-icon{background-position:right -673px}.pulse-close-icon:hover{opacity:1}.pulse-cont-wrap{padding-bottom:8px;position:relative;}

.pulse-header {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) repeat-x 0 0; border-bottom:1px solid #b9c2c6;height:65px}.pulse-header-title{float:left;padding:11px 35px 0 19px;position:relative}.pulse-header-title-text{color:#31353a;font-size:34px;font-weight:var(--ui-font-weight-bold);text-shadow:0 1px #fff;}

.pulse-header-title-info {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -210px; cursor:pointer;height:25px;right:0;top:20px;position:absolute;width:26px}.pulse-header-title-info:hover{background-position:center -874px}.pulse-header-title-info:active,.pulse-header-title-info-active{background-position:center -918px !important}.pulse-header-tabs-wrap{float:right;padding:12px 13px 0}.pulse-header-tabs-label{color:#505d66;display:inline-block;font-size:14px;font-weight:var(--ui-font-weight-bold);margin-right:7px;text-shadow:0 1px #fff;vertical-align:middle}.pulse-header-tabs-block{background-image:-webkit-linear-gradient(top,#e7eff0,#feffff);background-image:-moz-linear-gradient(top,#e7eff0,#feffff);background-image:-ms-linear-gradient(top,#e7eff0,#feffff);background-image:-o-linear-gradient(top,#e7eff0,#feffff);background-image:linear-gradient(to bottom,#e7eff0,#feffff);border:1px solid;border-color:#d6dcdc #cbcdcd #a2a4a4;-webkit-box-shadow:0 0 1px #dddfe0,inset 0 1px 0 #fff;box-shadow:0 1px 0 #dddfe0,inset 0 1px 0 #fff;border-radius:4px;display:inline-block;height:30px;padding:4px 6px 5px;vertical-align:middle}.pulse-header-tab{color:#505d66;cursor:pointer;border-radius:2px;display:inline-block;font-size:13px;font-weight:var(--ui-font-weight-bold);height:32px;line-height:31px;text-shadow:0 1px #fff;padding:0 13px;vertical-align:top}.pulse-header-tab:hover{background-color:#e7ecee;background-image:-webkit-linear-gradient(top,#eef0f1,#dee7ea);background-image:-moz-linear-gradient(top,#eef0f1,#dee7ea);background-image:-ms-linear-gradient(top,#eef0f1,#dee7ea);background-image:-o-linear-gradient(top,#eef0f1,#dee7ea);background-image:linear-gradient(to bottom,#eef0f1,#dee7ea);border:1px solid;border-color:#dfe6e7 #d6dada #b9b9ba;-webkit-box-shadow:0 1px 0 #fff inset,0 0 0 1px rgba(255,255,255,.3) inset,0 1px 0 #e9eaea;box-shadow:0 1px 0 #fff inset,0 0 0 1px rgba(255,255,255,.3) inset,0 1px 0 #e9eaea;height:30px;line-height:29px;padding:0 12px}.pulse-header-tab:active,.pulse-header-tab.pulse-header-tab-active{background-color:#cbd7db;background-image:-webkit-linear-gradient(top,#c0ced3,#d3dfe2);background-image:-moz-linear-gradient(top,#c0ced3,#d3dfe2);background-image:-ms-linear-gradient(top,#c0ced3,#d3dfe2);background-image:-o-linear-gradient(top,#c0ced3,#d3dfe2);background-image:linear-gradient(to bottom,#c0ced3,#d3dfe2);border:1px solid;border-color:#9da6af #a8b2ba #c9d3d8;-webkit-box-shadow:inset 0 1px 1px #a5b0b8;box-shadow:inset 0 1px 1px #9ca6ad;height:28px;line-height:27px;margin-top:1px;padding:0 12px}.pulse-num{background-repeat:no-repeat;color:rgba(0,0,0,0);display:inline-block;font-family:Arial,sans-serif;font-weight:var(--ui-font-weight-bold);text-shadow:none;vertical-align:middle}.pulse-num-point{background-repeat:no-repeat;color:transparent;display:inline-block;vertical-align:bottom;width:9px}.pulse-num-k{background-repeat:no-repeat;color:transparent;display:inline-block;vertical-align:bottom;text-transform:uppercase;text-shadow:none;width:16px}.pulse-num-m{background-repeat:no-repeat;color:transparent;display:inline-block;text-shadow:none;vertical-align:bottom;text-transform:uppercase;width:16px}.pulse-num-0{background-position:center 0}.pulse-num-1{background-position:center -58px}.pulse-num-2{background-position:center -115px}.pulse-num-3{background-position:center -173px}.pulse-num-4{background-position:center -230px}.pulse-num-5{background-position:center -288px}.pulse-num-6{background-position:center -345px}.pulse-num-7{background-position:center -403px}.pulse-num-8{background-position:center -460px}.pulse-num-9{background-position:center -518px}.pulse-num-point{background-position:center -585px}.pulse-num-k{background-position:center -668px}.pulse-num-m{background-position:center -622px}


.pulse-info-block {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) repeat-x 0 -83px; border-bottom:1px solid #d3dcde;height:97px}.pulse-info-table{border:0;border-spacing:0;height:97px;width:100%}.pulse-info-cell{border-left:1px solid #dae2e3;-webkit-box-shadow:-1px 0 0 #fff;box-shadow:-1px 0 0 #fff;vertical-align:middle;padding:0;width:30%}.pulse-info-cell:first-child{border-left:0;-webkit-box-shadow:none;box-shadow:none;width:0 !important}.pulse-info-cell-top{vertical-align:top}.pulse-info-cell-center{text-align:center}.pulse-info-toggle-block{border-bottom:1px solid #dce3e4;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;height:40px;line-height:38px;text-align:center;width:210px}.pulse-info-toggle-text{color:#505d66;cursor:pointer;display:inline-block;font-size:15px;font-weight:var(--ui-font-weight-bold);vertical-align:middle}.pulse-info-toggle-company .pulse-info-toggle-text-company{color:#1a65b2}.pulse-info-toggle-people .pulse-info-toggle-text-people{color:#1a65b2}.pulse-info-toggle{background-color:#c7d3d7;background-image:-webkit-linear-gradient(top,#becbd0,#cfdade);background-image:-moz-linear-gradient(top,#becbd0,#cfdade);background-image:-ms-linear-gradient(top,#becbd0,#cfdade);background-image:-o-linear-gradient(top,#becbd0,#cfdade);background-image:linear-gradient(to bottom,#becbd0,#cfdade);-webkit-box-shadow:0 1px 2px #8a9199 inset;box-shadow:0 1px 2px #8a9199 inset;border-radius:6px;display:inline-block;height:14px;margin:0 12px;vertical-align:middle;position:relative;width:36px;}

.pulse-info-toggle-btn {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -248px; cursor:pointer;height:21px;top:-3px;left:18px;position:absolute;width:21px;-webkit-transition:left .2s ease-out;-moz-transition:left .2s ease-out;-ms-transition:left .2s ease-out;-o-transition:left .2s ease-out;transition:left .2s ease-out}.pulse-info-company .pulse-info-toggle-btn{left:18px}.pulse-info-people .pulse-info-toggle-btn{left:-4px}.pulse-info-toggle-people .pulse-info-toggle-btn{left:-4px}.pulse-info-toggle-company .pulse-info-toggle-btn{left:18px}.pulse-info-title{color:#000;font-size:18px;font-weight:var(--ui-font-weight-bold);line-height:53px;overflow:hidden;padding:0 10px 0 20px;text-shadow:0 1px #fff;text-overflow:ellipsis;white-space:nowrap;width:180px}.pulse-info-rating-title{color:#505d66;cursor:pointer;display:inline-block;font-size:14px;font-weight:var(--ui-font-weight-bold);padding:6px 23px 0 15px;position:relative}.pulse-info-rating-title:hover{text-decoration:underline}.pulse-info-rating-title-td{cursor:pointer}.pulse-info-rating-title-td:hover div{text-decoration:underline}.pulse-info-rating-avatars{padding:9px 13px 0 0;text-align:center;}

.pulse-info-rat-avatar,
.pulse-popup-user-avatar {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat -1px -392px; border:3px solid #fff;border-radius:50%;-webkit-box-shadow:0 1px 1px #abaeb0;box-shadow:0 1px 2px #8f9294;display:inline-block;height:40px;margin-right:-13px;vertical-align:top;position:relative;width:40px}.pulse-info-rat-green{border-color:#84c700}.pulse-info-rat-blue{border-color:#39c2ec;-webkit-box-shadow:none;box-shadow:none}.pulse-info-rat-avatar-1{z-index:5}.pulse-info-rat-avatar-2{z-index:4}.pulse-info-rat-avatar-3{z-index:3}.pulse-info-rat-avatar-4{z-index:2}.pulse-info-rat-avatar-5{z-index:1}.pulse-info-rat-counter{border-radius:50%;color:#fff;font-size:10px;font-weight:var(--ui-font-weight-bold);height:15px;min-width:9px;top:-4px;right:27px;text-align:center;padding:0 3px;position:absolute}.pulse-info-rat-green .pulse-info-rat-counter{background-color:#84c700}.pulse-info-rat-blue .pulse-info-rat-counter{background-color:#39c2ec;}

.pulse-info-rat-points {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -322px; display:inline-block;height:6px;margin:41px 13px 0 24px;vertical-align:top;width:24px}.pulse-info-index-text,.pulse-info-involve-text{display:inline-block;color:#505d66;font-size:14px;font-weight:var(--ui-font-weight-bold);min-height:17px;margin-right:12px;padding:0 23px 0 0;text-shadow:0 1px #fff;text-align:left;vertical-align:middle;position:relative;}


.pulse-info-index-info {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat 100px; bottom:1px;cursor:pointer;height:17px;right:0;position:absolute;vertical-align:middle;width:17px}.pulse-info-index-help{display:block;width:300px;margin:6px 6px 8px 6px;line-height:15px;font-size:13px;font-family:var(--ui-font-family-primary,var(--ui-font-family-helvetica))}.pulse-info-rating-title .pulse-info-index-info{bottom:-1px}.pulse-info-cell:hover .pulse-info-index-info{background-position:center -349px}.pulse-info-cell .pulse-info-index-info:hover{background-position:center -796px}.pulse-info-cell .pulse-info-index-info:active,.pulse-info-cell .pulse-info-index-info-active{background-position:center -835px !important;display:block !important}.pulse-info-index{display:inline-block;vertical-align:middle;}


.pulse-info-index .pulse-num {
	background-image: url("/bitrix/components/bitrix/intranet.ustat/images/pulse-num-blue-big.png?14071"); font-size:55px;line-height:50px;margin-left:-4px}.pulse-info-index .pulse-num:first-child{margin-left:0}.pulse-info-index .pulse-num-1{width:27px;}

.pulse-info-index .pulse-num-point {
	background-image: url("/bitrix/components/bitrix/intranet.ustat/images/pulse-num-blue-big.png?14071"); height:13px;margin-right:2px;margin-left:-2px;}


.pulse-info-index .pulse-num-k,
.pulse-info-index .pulse-num-m {
	background-image: url("/bitrix/components/bitrix/intranet.ustat/images/pulse-num-blue-big.png?14071"); height:20px}.pulse-info-index .pulse-num-m{height:21px}.pulse-info-involve-text{font-weight:normal;max-width:120px;margin-right:8px;}

.pulse-info-involve-block{
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-involve-strip.gif?14071) repeat #6e798a; 	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-percent-bg.png?14071) no-repeat center 2px, url(/bitrix/components/bitrix/intranet.ustat/images/pulse-involve-strip.gif?14071) repeat #6e798a; border:1px solid;border-color:#565f6d #5f6877 #2a3340;border-radius:3px;-webkit-box-shadow:0 1px 0 #667181 inset,0 1px 0 #fff;box-shadow:0 1px 0 #667181 inset,0 1px 0 #fff;display:inline-block;height:58px;min-width:78px;padding:11px 5px 0;position:relative;text-align:center;vertical-align:middle;}

.pulse-info-involve-block .pulse-num {
	background-image: url("/bitrix/components/bitrix/intranet.ustat/images/pulse-num-light-grey.png?14071"); line-height:37px;font-size:40px;margin-left:-2px}.pulse-info-involve-block .pulse-num:first-child{margin-left:0;}

.pulse-num.pulse-num-percent {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -284px; line-height:22px;font-size:28px;margin:-2px 0 0 -2px;vertical-align:top;}

.pulse-info-inv-bar-wrap {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-percent-bar-bg.png?14071) repeat-x 0 0; bottom:-1px;border-radius:0 0 2px 2px;height:13px;left:-1px;right:-1px;padding:0 3px;position:absolute;}

.pulse-info-inv-bar-shadow {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-percent-bar-shadow.png?14071) repeat-x 0 0; height:4px;left:3px;right:3px;top:2px;position:absolute}.pulse-info-inv-bar-strip{display:block;margin-top:2px;height:11px;position:relative}.pulse-inv-bar{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid;height:8px;left:0;top:0;position:absolute}.pulse-inv-bar-green{background-color:#83b028;background-image:-webkit-linear-gradient(top,#9dc316,#81b113);background-image:-moz-linear-gradient(top,#9dc316,#81b113);background-image:-ms-linear-gradient(top,#9dc316,#81b113);background-image:-o-linear-gradient(top,#9dc316,#81b113);background-image:linear-gradient(to bottom,#9dc316,#81b113);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #c7dd1b;box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #c7dd1b;border-color:#93bf00 #7ca500 #6a9100}.pulse-bar-green{background-color:#83b028;background-image:-webkit-linear-gradient(top,#8fbb12,#77a80f);background-image:-moz-linear-gradient(top,#8fbb12,#77a80f);background-image:-ms-linear-gradient(top,#8fbb12,#77a80f);background-image:-o-linear-gradient(top,#8fbb12,#77a80f);background-image:linear-gradient(to bottom,#8fbb12,#77a80f);border-color:#93bf00 #83ad00 #6a9100;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #c7dd1b;box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #c7dd1b}.pulse-bar-red,.pulse-inv-bar-red{background-color:#d20000;background-image:-webkit-linear-gradient(top,#d90000,#d00000);background-image:-moz-linear-gradient(top,#d90000,#d00000);background-image:-ms-linear-gradient(top,#d90000,#d00000);background-image:-o-linear-gradient(top,#d90000,#d00000);background-image:linear-gradient(to bottom,#d90000,#d00000);border-color:#d20000 #b40000 #9c0000;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #fd0000;box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #fd0000}.pulse-bar-yellow,.pulse-inv-bar-yellow{background-color:#ffbf00;background-image:-webkit-linear-gradient(top,#ffc500,#ffb500);background-image:-moz-linear-gradient(top,#ffc500,#ffb500);background-image:-ms-linear-gradient(top,#ffc500,#ffb500);background-image:-o-linear-gradient(top,#ffc500,#ffb500);background-image:linear-gradient(to bottom,#ffc500,#ffb500);border-color:#fabd00 #dba300 #c28f00;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #ffe200;box-shadow:0 1px 1px rgba(0,0,0,.25),inset 0 1px 0 #ffe200}.pulse-info-people .pulse-info-cell{width:25%}.pulse-info-user-wrap{margin-top:9px;padding:0 30px 0 7px;position:relative;text-align:left}.pulse-info-user{color:#31353a;display:inline-block;font-size:14px;font-weight:var(--ui-font-weight-bold);max-width:135px;min-height:40px;text-shadow:0 1px #fff;text-align:left;overflow:hidden;text-overflow:ellipsis;padding-left:48px;position:relative;white-space:nowrap}.pulse-info-user-btn-wrap{height:56px;top:-9px;right:0;position:absolute;width:30px}.pulse-info-user-btn{border-radius:3px;cursor:pointer;height:40px;top:9px;right:6px;position:absolute;width:19px}.pulse-info-user-btn-wrap:hover .pulse-info-user-btn{background-color:#e9f0f2;background-image:-webkit-linear-gradient(top,#fefefe,#dee9ec);background-image:-moz-linear-gradient(top,#fefefe,#dee9ec);background-image:-ms-linear-gradient(top,#fefefe,#dee9ec);background-image:-o-linear-gradient(top,#fefefe,#dee9ec);background-image:linear-gradient(to bottom,#fefefe,#dee9ec);border:1px solid;border-color:#eeeeef #d2d7da #a4b4b9;-webkit-box-shadow:inset 0 0 1px rgba(255,255,255,.3),0 1px 0 #d5dee0;box-shadow:inset 0 0 1px rgba(255,255,255,.3),0 1px 0 #d5dee0;right:5px;top:8px}.pulse-info-user-btn-wrap .pulse-info-user-btn:hover{background-color:#f9fbfc;background-image:-webkit-linear-gradient(top,#fff,#eff4f6);background-image:-moz-linear-gradient(top,#fff,#eff4f6);background-image:-ms-linear-gradient(top,#fff,#eff4f6);background-image:-o-linear-gradient(top,#fff,#eff4f6);background-image:linear-gradient(to bottom,#fff,#eff4f6)}.pulse-info-user-btn-wrap .pulse-info-user-btn:active,.pulse-info-user-btn-wrap .pulse-info-user-btn-active{background-color:#d3dcdf;background-image:-webkit-linear-gradient(top,#cfd9dc,#d9e2e5) !important;background-image:-moz-linear-gradient(top,#cfd9dc,#d9e2e5) !important;background-image:-ms-linear-gradient(top,#cfd9dc,#d9e2e5) !important;background-image:-o-linear-gradient(top,#cfd9dc,#d9e2e5) !important;background-image:linear-gradient(to bottom,#cfd9dc,#d9e2e5) !important;border-color:#afb7be #bcc4ca #d1dade !important;-webkit-box-shadow:inset 0 1px 1px #aeb7bd !important;box-shadow:inset 0 1px 1px #aeb7bd !important;border-radius:2px;height:39px;top:9px;}

.pulse-info-user-btn-icon {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat -22px -508px; height:6px;top:19px;right:5px;position:absolute;width:9px;}


.pulse-info-user-img {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -451px; border-radius:50%;border:3px solid #fff;-webkit-box-shadow:0 1px 1px #8f9294;box-shadow:0 1px 1px #8f9294;height:30px;left:2px;top:0;position:absolute;width:30px}.pulse-info-people .pulse-info-index-text{margin-right:3px;padding-right:0}.pulse-info-people .pulse-info-index-info{display:none}.pulse-info-user-block{height:97px;padding:0 8px 0 5px;position:relative;text-align:center;white-space:nowrap}.pulse-info-user-alignment{display:inline-block;height:97px;margin-left:-5px;vertical-align:middle;width:1px}.pulse-info-user-block .pulse-info-index-info{right:5px;top:4px}.pulse-info-user-block:hover .pulse-info-index-info{display:block}.pulse-info-index-box,.pulse-info-index-box-inner{background-color:#dbe4e7;background-image:-webkit-linear-gradient(top,#d8e1e4,#dee9ec);background-image:-moz-linear-gradient(top,#d8e1e4,#dee9ec);background-image:-ms-linear-gradient(top,#d8e1e4,#dee9ec);background-image:-o-linear-gradient(top,#d8e1e4,#dee9ec);background-image:linear-gradient(to bottom,#d8e1e4,#dee9ec);-webkit-box-shadow:inset 0 1px 0 #fff,inset 0 0 0 1px rgba(255,255,255,.3),0 1px 1px rgba(0,0,0,.25),0 0 0 1px rgba(0,0,0,.08);box-shadow:inset 0 1px 0 #fff,inset 0 0 0 1px rgba(255,255,255,.3),0 1px 1px rgba(0,0,0,.25),0 0 0 1px rgba(0,0,0,.08),0 1px 0 rgba(0,0,0,.18);border-radius:4px;display:inline-block;height:61px;vertical-align:middle;position:relative}.pulse-info-index-box-inner{height:51px;margin-top:-2px;min-width:45px;padding:10px 7px 0}.pulse-info-index-blue,.pulse-info-index-blue .pulse-info-index-box-inner{background-color:#39a8ca;background-image:-webkit-linear-gradient(top,#42c2e8,#349bba);background-image:-moz-linear-gradient(top,#42c2e8,#349bba);background-image:-ms-linear-gradient(top,#42c2e8,#349bba);background-image:-o-linear-gradient(top,#42c2e8,#349bba);background-image:linear-gradient(to bottom,#42c2e8,#349bba);-webkit-box-shadow:inset 0 1px 0 #cff4fe,inset 0 0 0 1px rgba(255,255,255,.3),0 1px 1px rgba(0,0,0,.25),0 0 0 1px rgba(0,0,0,.08);box-shadow:inset 0 1px 0 #cff4fe,inset 0 0 0 1px rgba(255,255,255,.3),0 1px 1px rgba(0,0,0,.25),0 0 0 1px rgba(0,0,0,.08),0 1px 0 rgba(0,0,0,.18);height:58px}.pulse-info-index-blue .pulse-info-index-box-inner{height:49px;padding:9px 7px 0}.pulse-info-index-box-line{background-color:rgba(83,91,105,.15);-webkit-box-shadow:0 1px 0 rgba(255,255,255,.35);box-shadow:0 1px 0 rgba(255,255,255,.35);height:1px;margin-top:-2px;top:50%;left:0;right:0;position:absolute;}

.pulse-info-index-box .pulse-num {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-dark-grey.png?14071); line-height:42px;font-size:49px;margin-left:-4px}.pulse-info-index-box .pulse-num:first-child{margin-left:0;}

.pulse-info-index-box .pulse-num-point {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-dark-grey.png?14071); height:8px;margin:0 1px 0 -2px;}

.pulse-info-index-box .pulse-num-m,
.pulse-info-index-box .pulse-num-k {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-dark-grey.png?14071); height:20px;}

.pulse-info-index-blue .pulse-num {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-light-blue.png?14071); line-height:40px;}

.pulse-info-index-blue .pulse-num-point {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-light-blue.png?14071); height:9px;margin:0 1px 0 -2px;}

.pulse-info-index-blue .pulse-num-m,
.pulse-info-index-blue .pulse-num-k {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-light-blue.png?14071); height:20px}.pulse-graphics-wrap{height:195px;padding:10px 30px}.pulse-navigation-block-wrap{position:relative;width:1005px}.pulse-nav-block-wrap{margin:0;height:136px;padding:18px 0 26px;font-size:10px;overflow:hidden;position:relative;width:1005px;white-space:nowrap}.pulse-nav-block{display:inline-block;top:18px;left:-1px;position:absolute}.pulse-nav-left-arrow,.pulse-nav-right-arrow{cursor:pointer;height:136px;top:18px;position:absolute;width:56px}.pulse-nav-left-arrow{left:-56px}.pulse-nav-right-arrow{right:-56px}
.pulse-nav-arrow-icon {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png) no-repeat 100px 100px; height:40px;top:51px;position:absolute;width:17px}.pulse-nav-left-arrow .pulse-nav-arrow-icon{background-position:-13px -1236px;right:25px}.pulse-nav-right-arrow .pulse-nav-arrow-icon{background-position:-13px -1298px;left:25px}.pulse-nav-left-arrow:hover .pulse-nav-arrow-icon{background-position:-13px -1173px}.pulse-nav-right-arrow:hover .pulse-nav-arrow-icon{background-position:-13px -1111px}.pulse-nav-item-wrap{display:inline-block;margin:0 3px 0 4px;position:relative;text-transform:uppercase;vertical-align:top;width:137px;white-space:normal}.pulse-nav-item{background-color:#eaecee;background-color:rgba(255,255,255,.8);border-radius:4px;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.2);box-shadow:0 0 1px 1px rgba(0,0,0,0.2);cursor:pointer;height:136px;text-shadow:0 1px #fff;position:relative;z-index:2}.pulse-nav-item-wrap:hover .pulse-nav-item,.pulse-nav-item-wrap-active .pulse-nav-item{background-color:#fff}.pulse-nav-item-title{height:44px;font-size:14px;font-weight:var(--ui-font-weight-bold);padding:10px 0 0 10px;}

.pulse-nav-item-bar {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) repeat-x 0 -533px; height:9px;position:relative}.pulse-nav-item-bar-line{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-width:1px;border-style:solid;height:8px;left:0;top:0;position:absolute}.pulse-nav-item-text{color:#778086;font-size:10px;padding:2px 0 0 11px}.pulse-nav-item-title-num{color:#8e9fa9;float:left;padding-right:2px}.pulse-nav-item-title-text{color:#505d66;overflow:hidden}.pulse-video-btn{display:inline-block;vertical-align:middle;height:17px;width:16px}.pulse-nav-item-wrap:hover .pulse-video-btn{	background: url("/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408") no-repeat center -349px;}.pulse-nav-item-wrap .pulse-video-btn:hover{background-position:center -796px}.pulse-nav-item-index{padding:5px 10px;text-align:right;}

.pulse-nav-item-index .pulse-num {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-blue-normal.png?14071); font-size:27px;line-height:27px;margin-left:-1px}.pulse-nav-item-index .pulse-num:first-child{margin-left:0;}

.pulse-nav-item-index .pulse-num-point {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-blue-normal.png?14071); height:6px;width:5px;}

.pulse-nav-item-index .pulse-num-m,
.pulse-nav-item-index .pulse-num-k {
	background-image: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-num-blue-normal.png?14071); height:14px;width:12px;
}


.pulse-nav-item-corner {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -556px; display:none;height:11px;margin-left:-11px;top:-11px;left:50%;position:absolute;width:22px;z-index:3}.pulse-nav-item-wrap-active .pulse-nav-item-corner{display:block}.pulse-nav-item-footer{background-color:rgba(225,229,231,.9);-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,0.2);box-shadow:0 0 1px 1px rgba(0,0,0,0.2);bottom:0;border-radius:0 0 4px 4px;color:#1a65b2;height:21px;font-size:13px;font-weight:var(--ui-font-weight-bold);opacity:0;padding:7px 10px 0 11px;position:absolute;text-transform:none;width:115px;z-index:1;-webkit-transition:bottom .2s linear;-moz-transition:bottom .2s linear;-ms-transition:bottom .2s linear;transition:bottom .2s linear}.pulse-nav-item-wrap:hover .pulse-nav-item-footer,.pulse-nav-item-wrap-active .pulse-nav-item-footer{bottom:-24px;opacity:1}.pulse-nav-item-footer:hover{text-decoration:underline;cursor:pointer;}


.pulse-nav-item-footer-icon {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -583px; display:inline-block;height:8px;margin-top:6px;margin-left:4px;vertical-align:top;width:4px}.pulse-cont-shadow{background-color:#fff;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,.12);box-shadow:0 0 1px 1px rgba(0,0,0,.12);border-radius:0 0 6px 6px;position:relative;z-index:2}.pulse-cont-footer{bottom:0;height:14px;left:0;right:0;overflow:hidden;position:absolute;z-index:1}.pulse-cont-footer-1{background-color:#fff;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,.12);box-shadow:0 0 1px 1px rgba(0,0,0,.12);left:4px;bottom:2px;border-radius:6px;height:14px;right:4px;position:absolute}.pulse-cont-footer-2{background-color:#fff;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,.12);box-shadow:0 0 1px 1px rgba(0,0,0,.12);bottom:5px;border-radius:6px;left:1px;height:14px;right:1px;position:absolute}.sidebar-pulse-table{display:flex;align-items:center}.sidebar-pulse-cell-l{flex:1;display:flex;align-items:center}.sidebar-pulse-block{background-color:#2fc7f7;cursor:pointer;margin-bottom:17px;padding:3px 3px 3px 7px;border-radius:var(--sidebar-pulse-block-border-radius,var(--ui-border-radius-md,0))}.sidebar-pulse-text{color:#fff;display:inline-block;font-size:12px;padding-left:12px;font-family:var(--ui-font-family-secondary,var(--ui-font-family-open-sans));font-weight:var(--ui-font-weight-bold,700);text-transform:uppercase;position:relative}.sidebar-pulse-text:before{	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png) no-repeat center -1104px; content:'';height:12px;left:0;top:2px;position:absolute;width:13px}.sidebar-pulse-nums{background-color:#eef2f4;border-radius:var(--sidebar-pulse-nums-border-radius,var(--ui-border-radius-xs,2px));height:20px;padding:3px 0;white-space:nowrap}.sidebar-pulse-counter,.sidebar-pulse-percent{border-right:1px solid #b4e5f5;color:#535c69;display:inline-block;font-family:var(--ui-font-family-secondary,var(--ui-font-family-open-sans));font-weight:var(--ui-font-weight-regular,400);font-size:16px;height:20px;line-height:19px;padding:0 2px 0;text-align:center;vertical-align:top;min-width:50px}.sidebar-pulse-percent{border:0;color:#56cdf7;min-width:40px}.pulse-popup-wrap{background:#677688;background:-webkit-linear-gradient(top,rgba(60,69,80,.55),rgba(60,69,80,.31));background:-moz-linear-gradient(top,rgba(60,69,80,.55),rgba(60,69,80,.31));background:-ms-linear-gradient(top,rgba(60,69,80,.55),rgba(60,69,80,.31));background:-o-linear-gradient(top,rgba(60,69,80,.55),rgba(60,69,80,.31));background:linear-gradient(to bottom,rgba(60,69,80,.31),rgba(60,69,80.31));top:0;bottom:0;position:absolute;left:0;right:0;z-index:2}.pulse-popup-block{background-color:#fff;border-radius:3px;height:360px;margin:-180px 0 0 -200px;top:50%;left:50%;padding:17px 20px 20px 22px;position:absolute;width:351px}.pulse-popup-link{border-bottom:1px dashed #bfbfc0;color:#bfbfc0;cursor:pointer;display:inline-block;font-size:16px;font-weight:var(--ui-font-weight-bold);margin-right:15px;vertical-align:top}.pulse-popup-link-active{color:#000;border-bottom:0}.pulse-popup-top{height:38px;position:relative;}

.pulse-popup-cls-btn {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -975px; cursor:pointer;height:15px;right:0;top:0;position:absolute;width:15px}.pulse-popup-cont-wrap{margin-top:1px;max-height:302px;overflow-y:auto}.pulse-popup-user-block{min-height:50px;margin-bottom:6px;padding-left:2px}.pulse-popup-user-avatar{float:left;margin:2px 0 0}.pulse-popup-i-am-user .pulse-popup-user-avatar{border-color:#42c3ea;-webkit-box-shadow:none;box-shadow:none;}

.pulse-popup-user-avatar-flag {
	background: url(/bitrix/components/bitrix/intranet.ustat/images/pulse-sprite.png?1408) no-repeat center -1014px; height:16px;right:-7px;bottom:-6px;position:absolute;width:16px}.pulse-user-online{background-position:center -1059px}.pulse-popup-user-info{padding:0 0 14px 17px;overflow:hidden}.pulse-popup-user-name{color:#000;font-size:13px;font-weight:var(--ui-font-weight-bold)}.pulse-popup-user-name-text:hover{cursor:pointer;text-decoration:underline}.pulse-popup-user-avatar:hover{cursor:pointer}.pulse-popup-user-avatar:hover+div>div>span.pulse-popup-user-name-text{text-decoration:underline}.pulse-popup-user-num{color:#a1a8ad}.pulse-popup-bar-wrap{padding-top:7px}.pulse-popup-bar{background-color:#e0e6e6;border-radius:3px;display:inline-block;height:17px;position:relative;vertical-align:top;width:204px}.pulse-popup-bar-inner{background-color:#7dad25;background-image:-webkit-linear-gradient(top,#8ec52a,#6f9a21);background-image:-moz-linear-gradient(top,#8ec52a,#6f9a21);background-image:-ms-linear-gradient(top,#8ec52a,#6f9a21);background-image:-o-linear-gradient(top,#8ec52a,#6f9a21);background-image:linear-gradient(to bottom,#8ec52a,#6f9a21);border-radius:3px;display:block;height:17px}.pulse-cont-block-rating .pulse-popup-bar-inner{background-color:#9297a0;background-image:-webkit-linear-gradient(top,#a0a5af,#7d818a);background-image:-moz-linear-gradient(top,#a0a5af,#7d818a);background-image:-ms-linear-gradient(top,#a0a5af,#7d818a);background-image:-o-linear-gradient(top,#a0a5af,#7d818a);background-image:linear-gradient(to bottom,#a0a5af,#7d818a)}.pulse-popup-bar-size{color:#5f6a78;display:inline-block;font-size:14px;font-weight:var(--ui-font-weight-bold);margin-left:9px;vertical-align:top}.pulse-popup-bar-caption{color:#a3a3a3;bottom:-15px;font-size:10px;position:absolute;right:0}
/* End */
/* /bitrix/components/bitrix/intranet.ustat/style.min.css?170177516033354 */
