.disk-user-field-control {
	position: relative;
	padding: 24px;
	background-color: #f8f9fa;
	border-top: none;
	box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.07);
}

.disk-user-field-control.--hidden {
	display: none;
}

.blog-comment-edit .disk-user-field-control {
	border-radius: 0 0 22px 22px;
}

.disk-user-field-uploader-panel.--hidden {
	display: none;
}

.disk-user-field-document-panel {
	margin-top: 20px;
}

.disk-user-field-document-panel.--single {
	margin-top: 0;
}

.disk-user-field-document-panel.--hidden {
	display: none;
}

.disk-user-field-item-checked .menu-popup-item-icon {
	background-image: url(images/checked.svg);
	background-repeat: no-repeat;
	background-position: center;
}