.sn-spaces__list-wrapper {
	flex: 1;
	width: var(--sn-spaces__list-width);
	border-top-left-radius: var(--ui-border-radius-md);
	border-top-right-radius: var(--ui-border-radius-md);
	background: rgba(var(--ui-color-background-primary-rgb),var(--ui-opacity-90));
	transition: .2s;
}

.bitrix24-default-theme .sn-spaces__list-wrapper {
	border-top-left-radius: var(--ui-border-radius-none);
	border-top-right-radius: var(--ui-border-radius-none);
}


.sn-spaces__list-header {
	position: relative;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0 10px;
	font-size: var(--ui-font-size-3xl);
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-60));
}

.sn-spaces__list-header::after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: transparent;
	pointer-events: none;
	transition: .2s;
}

.sn-spaces__list-header.--scroll-content::after {
	background: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
}

.sn-spaces__list-header_name {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-30));

	margin-right: auto;
	border-radius: var(--ui-border-radius-xs);
	background: var(--ui-color-background-transparent);
	cursor: pointer;
}

.sn-spaces__list-header_name:hover {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-80));

	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-80));
}

.sn-spaces__list-header_name-block {
	display: flex;
	align-items: baseline;
	white-space: nowrap;
}

.sn-spaces__list-header_title {
	margin-right: 4px;
}

.ui-btn.sn-spaces__list-header_btn-add {
	margin: 0 5px 0 2px;
}

.sn-spaces__list-content {
	box-sizing: border-box;
	height: calc(100% - 60px);
	padding: 0 8px;
	overflow: auto;
	/*  Firefox */
	scrollbar-width: thin;
	scrollbar-color: rgba(var(--ui-color-base-solid-rgb),var(--ui-opacity-10)) var(--ui-color-background-transparent);
}

.sn-spaces__list-content.--loading{
	opacity: var(--ui-opacity-30);
	pointer-events: none;
}

.sn-spaces__list-content::-webkit-scrollbar {
	width: 4px;
}

.sn-spaces__list-content::-webkit-scrollbar-track {
	margin-bottom: 10px;
	background: var(--ui-color-background-transparent);
}

.sn-spaces__list-content::-webkit-scrollbar-thumb {
	border-radius: var(--ui-border-radius-pill);
	background-color: rgba(var(--ui-color-base-solid-rgb),var(--ui-opacity-10));
	cursor: pointer;
}

.sn-spaces__list-content:hover::-webkit-scrollbar-thumb {
	background-color: rgba(var(--ui-color-base-solid-rgb),var(--ui-opacity-20));
}

.sn-spaces__list-item {
	--list-item__before_opacity: var(--ui-opacity-full);
	--list-item__after_bg_color: var(--ui-color-background-transparent);

	z-index: 1;
	width: var(--sn-spaces__list-width-item);
	height: var(--sn_spaces-list-item_height);
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color .2s;
}

.sn-spaces__list-item::before,
.sn-spaces__list-skeleton-item::before
{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -1px;
	transform: translate(-50%, 0);
	display: block;
	width: calc(100% - 20px);
	height: 1px;
	background: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
	opacity: var(--list-item__before_opacity);
	pointer-events: none;
	transition: .2s;
}

.sn-spaces__list-item::after,
.sn-spaces__list-skeleton-item::after
{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: var(--sn-spaces__list-width-item);
	height: 100%;
	z-index: -1;
	border-radius: var(--ui-border-radius-sm);
	background: var(--list-item__after_bg_color);
	pointer-events: none;
	transition: .2s;
}

.sn-spaces__list-item:hover {
	--list-item__before_opacity: var(--ui-opacity-none);
	--list-item__after_bg_color:  var(--ui-color-base-20);
}


.bitrix24-dark-theme .sn-spaces__list-item:hover,
.bitrix24-default-theme .sn-spaces__list-item:hover {
	--list-item__after_bg_color: var(--ui-color-base-04);
}

.sn-spaces__list-item_icon {
	--sn-spaces__list-item_icon-size: 48px;

	position: relative;
	flex-shrink: 0;
	width: var(--sn-spaces__list-item_icon-size);
	height: var(--sn-spaces__list-item_icon-size);
	margin-right: 10px;
	border-radius: var(--ui-border-radius-sm);
	outline: 1px solid rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
	outline-offset: -1px;
}

.sn-spaces__list-item_icon img {
	width: 100%;
	height: 100%;
	border-radius: var(--ui-border-radius-sm);
	background: transparent url(images/socialnetwork-spaces_new-spaces.svg) no-repeat center;
}

.sonet-common-workgroup-avatar.sn-spaces__list-item_icon {
	background-position: center;
	margin-bottom: 0;
}

.sn-spaces__list-item_img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: var(--ui-border-radius-sm);
	background-size: cover;
	background-repeat: no-repeat;
}

.sn-spaces__list-item_details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	align-self: stretch;
	margin-left: 5px;
}

.sn-spaces__list-item_time {
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-font-line-height-xl);
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-50));
	transition: .2s;
}

.sn-spaces__list-item_changes {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
}

.sn-spaces__list-item_btn-event.ui-btn:not(input):empty,
.sn-spaces__list-item_btn-event.ui-btn {
	min-width: 90px;
}

.sn-spaces__list-item_changes .ui-icon-set {
	margin-bottom: 4px;
}

.sn-spaces__list-item_btn-event .ui-icon-set {
	margin-bottom: 0;
}

.sn-spaces__list-item_info {
	overflow: hidden;
	flex: 1;
}

.sn-spaces__list-item_title {
	display: flex;
	align-items: center;
	margin-bottom: 1px;
	font-size: var(--ui-font-size-xl);
	font-weight: var(--ui-font-weight-medium);
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-80));
	transition: .2s;
}

.sn-spaces__list-item_name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sn-spaces__list-item_mute {
	margin-left: 4px;
	opacity: .5;
}

.sn-spaces__list-item_description {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-50));
	font-size: var(--ui-font-size-md);
	transition: .2s;
}

.sn-spaces__list-item_counter {
	display: flex;
	justify-content: center;
	align-items: baseline;
	min-width: 18px;
	height: 18px;
	box-sizing: border-box;
	padding: 0 6px;
	margin-bottom: 4px;
	border-radius: var(--ui-border-radius-pill);
	text-align: center;
	font-size: var(--ui-font-size-3xs);
	line-height: 18px;
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-on-primary);
	background: #ff5752;
}

.sn-spaces__list-item_counter.--mute {
	background: #a8adb4;
}

.sn-spaces__list-wrapper .sn-spaces__list-item.--active {
	--list-item__before_opacity: var(--ui-opacity-none);

	--list-item__after_bg_color: var(--ui-color-palette-blue-60);
	--ui-icon-set__icon-color: #c3f0ff;
}

.sn-spaces__list-item.--active .sn-spaces__list-item_icon {
	outline-color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-40))
}

.sn-spaces__list-item.--active .sn-spaces__list-item_title {
	color: var(--ui-color-on-primary);
}

.sn-spaces__list-item.--active .sn-spaces__list-item_description,
.sn-spaces__list-item.--active .sn-spaces__list-item_time {
	color: #c3f0ff;
}

.sn-spaces__list-item.--active:hover {
	--list-item__after_bg_color: var(--ui-color-palette-blue-70);
}

.sn-spaces__popup-menu {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.sn-spaces__popup-menu_item {
	display: flex;
	gap: 12px;
	box-sizing: border-box;
	padding: 11px;
	border: var(--ui-border-width-thin) solid rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-20));
	border-radius: var(--ui-border-radius-2xs);
	cursor: pointer;
}

.sn-spaces__popup-menu_item-icon {
	--sn-spaces__popup-menu_item-icon-size: 42px;

	flex-shrink: 0;
	width: var(--sn-spaces__popup-menu_item-icon-size);
	height: var(--sn-spaces__popup-menu_item-icon-size);

	background-color: var(--ui-color-base-60);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

.sn-spaces__popup-menu_item-icon.--my-spaces {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_my-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_my-spaces.svg);
}

.sn-spaces__popup-menu_item-icon.--all-spaces {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_all-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_all-spaces.svg);
}

.sn-spaces__popup-menu_item-icon.--other-spaces {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_other-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_other-spaces.svg);
}

.sn-spaces__popup-menu_item.--active .sn-spaces__popup-menu_item-icon {
	background-color: var(--ui-color-primary);
}

.sn-spaces__popup-menu_item-info {
	overflow: hidden;
	flex: 1;
}

.sn-spaces__popup-menu_item-name {
	margin-bottom: 6px;
	color: var(--ui-color-base-90);
	font-size: var(--ui-font-size-xl);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sn-spaces__popup-menu_item-description {
	color: var(--ui-color-base-80);
	line-height: var(--ui-font-line-height-md);
}

.sn-spaces__popup-menu_item-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 6px 12px;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-semi-bold);
	text-align: center;
	line-height: var(--ui-font-line-height-xl);
}

.sn-spaces__popup-menu_hint {
	padding: 2px 0;
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-font-line-height-sm);
	color: var(--ui-color-base-50);
}

.sn-spaces__popup-menu_item:hover {
	background: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
}

.sn-spaces__popup-menu_item.--active {
	border: var(--ui-border-width-thin) solid var(--ui-color-palette-blue-40);
	background: var(--ui-color-background-info);
}

.sn-spaces__popup-menu_item.--active .sn-spaces__popup-menu_item-name {
	color: var(--ui-color-text-primary);
}

.sn-spaces__popup-menu_item.--active .sn-spaces__popup-menu_item-description {
	color: var(--ui-color-text-secondary);
}

.sn-spaces__search {
	margin: 0 8px;
}

.sn-spaces__search .ui-ctl-element {
	border-radius: var(--ui-border-radius-xs);
	border-color: transparent;
	background-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
}

.sn-spaces__search-clear {
	right: 4px;
	top: 2px;
	opacity: var(--ui-opacity-40);
	transition: .2s;
}

.sn-spaces__search-clear:hover {
	opacity: var(--ui-opacity-60);
}

.sn-spaces__list-subtitle {
	padding: 11px;
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-50));
}

.sn-spaces__list-item.--add-btn .sn-spaces__list-item_icon {
	outline-style: dashed;
	background-image: url(./images/socialnetwork-spaces_add-spaces.svg);
	background-repeat: no-repeat;
}

.sn-spaces__list-item.--add-btn .sn-spaces__list-item_title {
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-40));
}

.spaces-list-add-space-image:hover {
	cursor: pointer;
}

.sn-spaces__list-item.--add-btn .sn-spaces__list-item_description {
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-30));
}

.sn-spaces__list-item.--add-active {
	flex-direction: column;
	align-items: flex-start;
	cursor: default;
}

.sn-spaces__list-item.--add-active:hover {
	--list-item__after_bg_color: none;
	cursor: default;
	--list-item__before_opacity: var(--ui-opacity-full);
}

.sn-spaces__list-item.--add-active:before:hover,
.sn-spaces__list-item.--add-active:after:hover {
	cursor: default;
}

.sn-spaces__list-item_add {
	width: 100%;
	display: flex;
	align-items: center;
}

.sn-spaces__list-item.--add-active .ui-ctl-element {
	font-size: var(--ui-font-size-xl);
	font-weight: var(--ui-font-weight-medium);
	color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-80));
}

.sn-spaces__list-item.--add-active .sn-spaces__list-item_icon {
	background-color: #29ad49;
}

.sn-spaces__list-item.--add-active .sn-spaces__list-item_icon:hover {
	background-color: #1b9939;
}

.sn-spaces__list-item.--add-active.--error {
	height: auto;
}

.sn-spaces__list-item_error {
	position: relative;
	box-sizing: border-box;
	padding: 0 7px 2px;
	margin-top: 3px;
	border-radius: 0 var(--ui-border-radius-sm) var(--ui-border-radius-3xs) var(--ui-border-radius-sm);
	color: var(--ui-color-on-primary);
	font-size: 13px;
	background: var(--ui-color-text-alert);
}

.sn-spaces__list-item_error::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 100%;
	display: block;
	width: 5px;
	height: 4px;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg width='5' height='4' viewBox='0 0 5 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-3.65519e-07 9.93279e-08L-7.1521e-07 4L5 4C2.23857 4 -5.58648e-07 2.20914 -3.65519e-07 9.93279e-08Z' fill='%23FF5752'/%3E%3C/svg%3E%0A");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	background-color: inherit;
}

.sn-spaces__list-item_select-private {
	--ui-icon-set__icon-color: var(--ui-color-link-primary-base);

	display: flex;
	align-items: center;
	gap: 5px;
	padding-bottom: 4px;
}

.sn-spaces__list-item_select-private-text {
	font-family: var(--ui-font-family-helvetica);
	font-size: var(--ui-font-size-sm);
	color: var(--ui-color-link-primary-base);
	text-decoration: underline;
	text-decoration-color: rgba(var(--ui-color-link-primary-base-rgb), var(--ui-opacity-40));
	text-decoration-style: var(--ui-text-decoration-style-dashed);
	text-underline-offset: 0.3em;
	line-height: var(--ui-font-line-height-2xs);
	transition: .2s;
}

.sn-spaces__list-item_select-private:hover .sn-spaces__list-item_select-private-text {
	text-decoration-color: var(--ui-color-link-primary-base);
	cursor: pointer;
}

.sn-spaces__list-item_save-btn {
	--ui-icon-set__icon-size: 48px;
	--ui-icon-set__icon-color: var(--ui-color-primary);

	margin-right: -8px;
	pointer-events: all;
}

.sn-spaces__list-item_save-btn:hover {
	cursor: pointer;
	--ui-icon-set__icon-color: var(--ui-color-palette-blue-60);
	opacity: 0.9;
}

.sn-spaces__list-item_save-btn.--disabled {
	--ui-icon-set__icon-color: var(--ui-color-base-30);

	pointer-events: none;
}

.sn-spaces__list-item_icon.ui-icon > i {
	border-radius: var(--ui-border-radius-sm);
}

.sn-spaces__list-item_icon-close {
	position: absolute;
	right: -7px;
	bottom: -13px;
	width: 28px;
	height: 30px;
	background: transparent url(images/socialnetwork-spaces_icon_close-spase.svg) no-repeat center;
}

.sn-spaces__list-header_btn-spaces {
	display: none;
}

.sn-spaces__popup-list-item {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 1px 0;
	box-sizing: border-box;
}

.sn-spaces__popup-list-item.--invitation {
	flex-wrap: wrap;
	margin-bottom: 6px;
}

.sn-spaces__list-item_invitation {
	position: relative;
	padding: 8px 0;
	margin-bottom: 17px;
}

.sn-spaces__list-item_invitation::before {
	content: '';
	display: block;
	width: calc(100% + 14px);
	height: 100%;
	position: absolute;
	left: -8px;
	top: 0;
	border-radius: var(--ui-border-radius-md);
	border: var(--ui-border-width-thin) solid #bbde4d;
	background: #fafded;
}

.sn-spaces__list-item.--invitation {
	flex-wrap: wrap;
	height: auto;
	padding: 12px 10px;
	box-sizing: border-box;
}

.sn-spaces__list-item.--invitation:last-of-type::before {
	background-color: transparent;
}

.sn-spaces__list-item_btns {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 11px;
}

.sn-spaces__list-item_invitation-icon {
	--ui-icon-set__icon-color: #ffffff;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0 8px 0 8px;
	background-color: #95C500;
	line-height: 0;
	opacity: var(--ui-opacity-none);
	transition: .2s;
	pointer-events: none;
}

.sn-spaces__list-item.--invitation.--active .ui-btn-light-border {
	--ui-btn-color: var(--ui-color-background-primary);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-wrapper {
	width: var(--sn-spaces__list--wrapper-collapsed-mode);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_changes .ui-btn,
.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_changes .ui-icon-set,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-header_btn-spaces,
.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_name-block,
.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_btn-add,
.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_info,
.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_time,
.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_btns {
	display: none;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-item.--invitation {
	padding: 9px 10px;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_counter {
	position: absolute;
	top: 7px;
	right: 6px;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-item,
.sn-spaces.--list-collapsed-mode .sn-spaces__list-item::after {
	width: 68px;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_icon {
	margin-right: 0;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-content::-webkit-scrollbar {
	width: 1px;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_btn-spaces {
	display: block;
	width: 26px;
	height: 26px;
	-webkit-mask-size: 24px;
	mask-size: 24px;
	-webkit-mask-position-y: center;
	background-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-60));
	transition: .2s;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_btn-spaces.--my {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_my-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_my-spaces.svg);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_btn-spaces.--other {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_other-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_other-spaces.svg);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_btn-spaces.--all {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_all-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_all-spaces.svg);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_btn-spaces:hover {
	background-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-80));
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-header_name {
	padding: 0 0 0 4px;
}

.sn-spaces.--list-collapsed-mode .ui-btn.sn-spaces__list-header_btn-search {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-60));

	border-color: transparent;
	background-color: transparent;
}

.sn-spaces.--list-collapsed-mode .ui-btn.sn-spaces__list-header_btn-search:hover {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-80));
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list-item_invitation-icon {
	opacity: var(--ui-opacity-full);
}

.sn-spaces__list.--fixed .sn-spaces__list-wrapper {
	background: var(--ui-color-background-primary);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item::after {
	width: 100%;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_icon {
	margin-right: 10px;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_changes .ui-icon-set,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_time,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_info {
	display: block;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_changes .ui-btn,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_btns,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_details,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-header_btn-add,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-header_name-block {
	display: flex;
}

.sn-spaces__list-header_name,
.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-header_name {
	padding: 5px 7px 5px 10px;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_invitation-icon {
	opacity: var(--ui-opacity-none);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item_counter {
	position: static;
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__list-item.--invitation {
	padding: 12px 10px;
}

.sn-spaces__popup-list_collapsed-mode .sn-spaces__list-item {
	width: 100%;
}

.sn-spaces__popup-list_collapsed-mode {
	display: block;
	height: 100%;
	padding: 9px;
	box-sizing: border-box;
}

.sn-spaces__list-anchor {
	display: flex;
	width: 100%;
}


.sn-spaces__toggle-block {
	position: relative;
	z-index: 9;
	width: var(--sn-spaces__toggle-block-width);
	cursor: pointer;
	transition: .2s;
}

.sn-spaces__toggle-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 2px;
	height: 26px;
	-webkit-mask-image: url(./images/sn-spaces__buttons.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-50));
	transition: .2s;
}

.bitrix24-default-theme .sn-spaces__toggle-image,
.bitrix24-dark-theme .sn-spaces__toggle-image {
	background-color: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-50));
}

.sn-spaces__toggle-wrapper {
	height: 100%;
}

.sn-spaces__toggle-btn,
.sn-spaces__btn-show-toggle-block {
	z-index: 9;
	position: absolute;
	left: 50%;
	top: 13px;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 34px;
	border-radius: var(--ui-border-radius-pill);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.12);
	background: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-full));
	cursor: pointer;
	transition: .2s;
}

.sn-spaces__btn-show-toggle-block {
	pointer-events: all;
	opacity: var(--ui-opacity-full);
}

.sn-spaces__btn-show-toggle-block.--hide {
	pointer-events: none;
	opacity: var(--ui-opacity-none);
}

.sn-spaces__toggle-btn:hover,
.sn-spaces__btn-show-toggle-block:hover {
	background: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-90));
}

.sn-spaces.--list-collapsed-mode .sn-spaces__btn-show-toggle-block {
	display: none;
}

.sn-spaces__toggle-btn {
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: var(--ui-opacity-none);
}

.sn-spaces__toggle-wrapper:hover .sn-spaces__toggle-btn {
	opacity: var(--ui-opacity-full);
}

.sn-spaces__toggle-btn::before,
.sn-spaces__toggle-btn::after {
	content: '';
	display: block;
	width: 1px;
	height: calc((100vh - 63px - 54px) / 2);
	position: absolute;
	left: 50%;
	bottom: calc(100% + 10px);
	transform: translate(-50%, 0);
	background: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-30));
}

.sn-spaces__toggle-btn::after {
	bottom: auto;
	top: calc(100% + 10px);
}

.bitrix24-default-theme .sn-spaces__toggle-btn::before,
.bitrix24-default-theme .sn-spaces__toggle-btn::after,
.bitrix24-dark-theme .sn-spaces__toggle-btn::before,
.bitrix24-dark-theme .sn-spaces__toggle-btn::after {
	background: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-10));
}

.sn-spaces.--list-collapsed-mode .sn-spaces__toggle-btn .ui-icon-set {
	transform: rotate(180deg);
}

.sn-spaces.--list-collapsed-mode .sn-spaces__list.--fixed .sn-spaces__toggle-block {
	display: none;
}

.sn-spaces__list-skeleton-item {
	position: relative;
	width: 100%;
	height: var(--sn_spaces-list-item_height);
	background: transparent url(images/socialnetwork-spaces_skeleton-list-element.svg) no-repeat center;
}

.sn-spaces__list-add-item_input-error {
	color: #ff5752 !important;
}
