.ui-entity-editor-content-block__range {
	display: flex !important;
}

.ui-ctl-date-range {
	width: 149px !important;
}

.ui-ctl-dropdown-range-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: calc(100% - 121px);
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-flex: 1;
	flex-grow: 1;
	margin-left: 10px;
}

.ui-ctl-dropdown-range-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 12px;
	width: 10px;
	height: 38px;
}

.ui-ctl-dropdown-range-line-item {
	margin: auto;
	width: 10px;
	height: 2px;
	background: #7d7d7d;
}

.ui-ctl-dropdown-range-group .ui-ctl-datetime {
	max-width: calc(200px + var(--icon-width-before) + var(--icon-width-after));
	width: calc(200px + var(--icon-width-before) + var(--icon-width-after));
}