.crm-timeline__card-container_info {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.crm-timeline__card-container_info.--inline {
	flex-direction: row;
	align-items: center;
}

.crm-timeline__card-container_info-title {
	display: block;
	font-size: var(--ui-font-size-sm, 13px);
	color: var(--ui-color-palette-gray-50, rgba(168, 173, 180, 1));
}

.crm-timeline__card-container_info.--inline .crm-timeline__card-container_info-title {
	font-size: var(--ui-font-size-sm, 13px);
	color: var(--ui-color-palette-gray-70, #828b95);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.crm-timeline__card-container_info.--fixed-width .crm-timeline__card-container_info-title {
	width: 100px;
	align-self: start;
	min-height: 19px;
	line-height: 19px;
}

.crm-timeline__card-container_info-value {
	display: block;
	overflow: hidden;
	font-size: var(--ui-font-size-md, 14px);
	color: var(--ui-color-text-secondary, rgba(82, 92, 105, .9));
	white-space: nowrap;
	text-overflow: ellipsis;
}

.crm-timeline__card-container_info.--word-wrap .crm-timeline__card-container_info-title {
	align-self: flex-start;
}

.crm-timeline__card-container_info.--word-wrap .crm-timeline__card-container_info-value {
	white-space: normal;
	overflow: auto;
}

.crm-timeline__card-container_info-value.--link span {
	font-weight: var(--ui-font-weight-medium, 500);
	color: var(--ui-color-palette-blue-90, rgba(11, 102, 195, 1));
	cursor: pointer;
	transition: var(--crm-timeline__transition-hover);
}

.crm-timeline__card-container_info-value.--link span:hover {
	color: var(--ui-color-palette-blue-95, rgba(11, 102, 195, 1));
	transition: unset;
}

.crm-timeline__card-container_info.--inline .crm-timeline__card-container_info-value {
	flex: 1;
	margin-bottom: unset;
	margin-left: 10px;
}