#dashboard {
	height: 100vh;
}

.dashboard-header {
	padding: 12px 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dashboard-header-logo-svg {
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: center;
	background-size: contain;
	width: 154px;
	height: 30px;
}

.dashboard-header .ui-icon i {
	background-color: transparent !important;
	border: 1px solid #C6CDD3;
}

.dashboard-header .ui-icon:hover i {
	background-color: rgba(198, 205, 211, 0.4) !important;
	transition: 0.25s ease-in-out background;
}

.dashboard-header .ui-icon {
	cursor: pointer;
}

.dashboard-header .disabled {
	cursor: not-allowed !important;
}

.dashboard-header .dashboard-header-buttons {
	display: flex;
}

.dashboard-header-buttons button, .dashboard-header-buttons div {
	margin-right: 10px;
}

.dashboard-header-buttons:last-child {
	margin-right: 0;
}

.dashboard-header-logo {
	padding-right: 83px;
	margin-right: 20px;
	border-right: 1px solid rgba(82, 93, 105, 0.25);
}

.dashboard-header-title {
	color: #2066B0;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	word-wrap: break-word;
}

.dashboard-header-title-section {
	display: flex;
	align-items: center;
}

.more-popup .popup-window-angly {
	left: auto !important;
	right: 15px !important;
}

.dashboard-iframe {
	height: 100%;
}

.dashboard-iframe iframe {
	width: 100%;
	height: 93%;
	overflow: hidden;
	background: transparent;
	border: none;
}

::-webkit-scrollbar {
	width: 0;
}

.biconnector-dashboard__animation {
	position: relative;
}

.biconnector-dashboard__hint {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 678px;
	height: 534px;
	background: radial-gradient(51.98% 51.83% at 50% 50%, rgba(255, 255, 255, 0.78) 37.5%, rgba(255, 255, 255, 0.00) 68.75%);
	transform: translate(-50%,-50%);
	text-align: center;
	z-index: 2;
}

.biconnector-dashboard__hint_title {
	display: block;
	margin-bottom: 16px;
	font-size: var(--ui-font-size-4xl);
	font-weight: var(--ui-font-weight-semi-bold);
	color: var(--ui-color-text-primary);
}

.biconnector-dashboard__hint_desc {
	display: block;
	max-width: 300px;
	margin-bottom: 16px;
	font-size: var(--ui-font-size-xl);
	color: var(--ui-color-base-70);
}

.biconnector-dashboard__hint_link {
	display: inline-block;
	border-bottom: 1px dashed rgba(var(--ui-color-link-primary-base-rgb), var(--ui-opacity-40));
	font-size: var(--ui-font-size-lg);
	color: var(--ui-color-link-primary-base);
	transition: border-color .3s;
	cursor: pointer;
}

.biconnector-dashboard__hint_link:hover {
	border-color: var(--ui-color-background-transparent);
}

.biconnector-dashboard__error_logo {
	margin-bottom: 14px;
}

.biconnector-dashboard__error_desc {
	margin-bottom: 24px;
}


.dashboard-header-selector-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.dashboard-header-selector-icon {
	width: 18px;
	height: 18px;
	color: var(--ui-color-link-primary-base, #2066B0);
	margin-left: 8px;
	margin-top: 2px;
}

.dashboard-header-selector-text {
	color: var(--ui-color-link-primary-base, #2066B0);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}
