

/* Start:/bitrix/components/bitrix/ui.sidepanel.wrapper/templates/.default/loader.min.css?1701775331587*/
.ui-sidepanel-wrapper-loader-container{width:100%;height:150px;overflow:hidden}.ui-sidepanel-wrapper-loader{top:0;bottom:0;left:0;right:0;margin:auto;height:inherit;width:inherit;-webkit-animation:rotate 1s linear infinite;animation:rotate 1s linear infinite;-webkit-transform-origin:center center;transform-origin:center center}.ui-sidepanel-wrapper-loader-path{stroke:#ccc;stroke-dasharray:60,200;stroke-dashoffset:0;animation:dash 1.5s ease-in-out infinite;stroke-linecap:round}@keyframes rotate{100%{transform:rotate(360deg)}}@-webkit-keyframes rotate{100%{transform:rotate(360deg)}}
/* End */
/* /bitrix/components/bitrix/ui.sidepanel.wrapper/templates/.default/loader.min.css?1701775331587 */
