.sn-spaces__user {
	min-height: calc(100vh - 200px);
}

.sn-spaces__group {
	min-height: calc(100vh - 200px);
}

.sn-spaces__subtoolbar-space {
	margin-bottom: 8px;
	display: none;
}

.sn-spaces__group-subtoolbar_button-bar {
	display: flex;
	align-items: center;
	gap: 1px;
}

.sn-spaces__group-subtoolbar_button-bar.--views {
	margin-left: auto;
}

.sn-spaces__group-subtoolbar_button-bar-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 31px;
	padding: 0 12px;
	box-sizing: border-box;
	background: rgba(var(--ui-color-background-primary-rgb), .15);
	--ui-icon-set__icon-color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-80));
	cursor: pointer;
	transition: .2s;
}

.sn-spaces__group-subtoolbar_button-bar-btn.--view {
	--ui-icon-set__icon-color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-20));
}

.sn-spaces__group-subtoolbar_button-bar-btn.--view.--active {
	--ui-icon-set__icon-color: rgba(var(--ui-color-palette-white-base-rgb), var(--ui-opacity-80));
}

.sn-spaces__group-subtoolbar_button-bar-btn:first-of-type {
	border-top-left-radius: var(--ui-border-radius-pill);
	border-bottom-left-radius: var(--ui-border-radius-pill);
}

.sn-spaces__group-subtoolbar_button-bar-btn:last-of-type {
	border-top-right-radius: var(--ui-border-radius-pill);
	border-bottom-right-radius: var(--ui-border-radius-pill);
}

.sn-spaces__group-subtoolbar_button-bar-btn:hover {
	background: rgba(var(--ui-color-background-primary-rgb), var(--ui-opacity-30));
}


.bitrix24-default-theme .sn-spaces__group-subtoolbar_button-bar-btn,
.bitrix24-dark-theme .sn-spaces__group-subtoolbar_button-bar-btn {
	background: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-80));
}

.bitrix24-default-theme .sn-spaces__group-subtoolbar_button-bar-btn:hover,
.bitrix24-dark-theme .sn-spaces__group-subtoolbar_button-bar-btn:hover {
	background:  rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-10));
}

.bitrix24-default-theme .sn-spaces__group-subtoolbar_button-bar-btn.--view,
.bitrix24-dark-theme .sn-spaces__group-subtoolbar_button-bar-btn.--view {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-60));
}

.bitrix24-default-theme .sn-spaces__group-subtoolbar_button-bar-btn.--active,
.bitrix24-dark-theme .sn-spaces__group-subtoolbar_button-bar-btn.--active {
	--ui-icon-set__icon-color: rgba(var(--ui-color-base-90-rgb), var(--ui-opacity-80));
}

.sn-spaces__group-subtoolbar_breadcrumbs {
	display: flex;
	align-items: center;
}

.sn-spaces__empty-state {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 200px);
	padding: 30px;
	border-radius: 10px;
	background: rgba(var(--ui-color-background-primary-rgb),var(--ui-opacity-90));
}

.sn-spaces__empty-state-icon {
	margin-bottom: 20px;
	width: 218px;
	height: 178px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 218 178' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M156.909 5.08173C158.238 5.08173 159.315 4.0047 159.315 2.67612C159.315 1.34754 158.238 0.270508 156.909 0.270508C155.58 0.270508 154.503 1.34754 154.503 2.67612C154.503 4.0047 155.58 5.08173 156.909 5.08173ZM38.2039 25.8624C41.0841 25.8624 43.4189 23.5275 43.4189 20.6474C43.4189 17.7672 41.0841 15.4324 38.2039 15.4324C35.3237 15.4324 32.9889 17.7672 32.9889 20.6474C32.9889 23.5275 35.3237 25.8624 38.2039 25.8624ZM38.2039 22.9547C39.4782 22.9547 40.5112 21.9217 40.5112 20.6474C40.5112 19.3731 39.4782 18.34 38.2039 18.34C36.9296 18.34 35.8965 19.3731 35.8965 20.6474C35.8965 21.9217 36.9296 22.9547 38.2039 22.9547ZM11.7102 76.7733C15.5894 76.7733 18.7341 73.6286 18.7341 69.7494C18.7341 65.8702 15.5894 62.7255 11.7102 62.7255C7.83099 62.7255 4.68628 65.8702 4.68628 69.7494C4.68628 73.6286 7.83099 76.7733 11.7102 76.7733ZM11.7102 73.1075C13.5648 73.1075 15.0683 71.604 15.0683 69.7494C15.0683 67.8947 13.5648 66.3912 11.7102 66.3912C9.85555 66.3912 8.35206 67.8947 8.35206 69.7494C8.35206 71.604 9.85555 73.1075 11.7102 73.1075ZM190.039 165.155C192.801 165.155 195.04 162.916 195.04 160.154C195.04 157.393 192.801 155.154 190.039 155.154C187.278 155.154 185.039 157.393 185.039 160.154C185.039 162.916 187.278 165.155 190.039 165.155ZM190.039 162.553C191.364 162.553 192.438 161.479 192.438 160.154C192.438 158.83 191.364 157.756 190.039 157.756C188.715 157.756 187.641 158.83 187.641 160.154C187.641 161.479 188.715 162.553 190.039 162.553ZM110 178C157.496 178 196 139.496 196 91.9998C196 44.5033 157.496 5.99976 110 5.99976C62.5035 5.99976 24 44.5033 24 91.9998C24 139.496 62.5035 178 110 178ZM23.9588 171.988H7.24022C7.09716 171.988 6.95534 171.983 6.81493 171.972C3.03648 171.884 0.000190901 168.709 0 164.805C0.00109851 162.902 0.737676 161.077 2.04769 159.733C2.71919 159.043 3.51317 158.509 4.37699 158.152C4.36254 157.958 4.35518 157.763 4.35518 157.565C4.35637 155.558 5.13359 153.633 6.51587 152.214C7.89815 150.795 9.77226 149.999 11.7259 150C14.2285 150.003 16.438 151.289 17.7658 153.252C18.3964 153.022 19.0752 152.898 19.7823 152.898C22.9062 152.902 25.472 155.349 25.7694 158.479C28.7627 159.149 31.0026 161.89 31 165.166C30.9969 168.942 28.0168 172.001 24.3426 172C24.2138 172 24.0858 171.996 23.9588 171.988ZM201.138 38.992H213.003C213.093 38.9971 213.184 38.9997 213.275 38.9998C215.883 39.0008 217.998 36.9152 218 34.3407C218.002 32.1067 216.412 30.2382 214.288 29.7809C214.077 27.6471 212.256 25.9785 210.039 25.9758C209.537 25.9756 209.055 26.0606 208.608 26.2172C207.666 24.8788 206.098 24.0019 204.322 23.9998C202.935 23.9989 201.605 24.5419 200.624 25.5093C199.643 26.4767 199.092 27.7892 199.091 29.1581C199.091 29.2928 199.096 29.4262 199.106 29.5582C198.493 29.8015 197.93 30.1658 197.453 30.6358C196.524 31.5526 196.001 32.7966 196 34.0939C196 36.7558 198.155 38.9208 200.836 38.981C200.936 38.9883 201.037 38.992 201.138 38.992Z' fill='white'/%3E%3Cg filter='url(%23filter0_d_704_4984)'%3E%3Crect x='55' y='40' width='77.9167' height='77.7143' rx='10' fill='%2329AD49'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d_704_4984)'%3E%3Crect x='100.833' y='80' width='64.1667' height='64' rx='10' fill='white'/%3E%3C/g%3E%3Crect x='112.292' y='91.4287' width='17.1875' height='17.1429' rx='8.57143' fill='%239DCF00'/%3E%3Crect x='137.5' y='92.5713' width='14.8958' height='14.8571' rx='2' fill='%23FB6DBA'/%3E%3Crect width='13.756' height='13.756' rx='2' transform='matrix(0.708026 0.706187 -0.708026 0.706187 144.948 113.714)' fill='%23FFA900'/%3E%3Cpath d='M120.381 115.136C121.081 114.629 122.028 114.629 122.728 115.136L129.638 120.144C130.341 120.653 130.635 121.557 130.367 122.383L127.729 130.478C127.461 131.302 126.693 131.859 125.828 131.859H117.282C116.416 131.859 115.648 131.302 115.38 130.478L112.743 122.383C112.474 121.557 112.768 120.653 113.471 120.144L120.381 115.136Z' fill='%232FC6F6'/%3E%3Cpath d='M78.9958 59C76.2367 59 74 61.2416 74 64.0067V86.5711C74 89.3363 76.2367 91.5778 78.9958 91.5778H87.228V85.9381H79.6261V64.6372H100.881V72.9473H106.507V64.0067C106.507 61.2416 104.27 59 101.511 59H78.9958Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M91.668 81.6259C91.668 78.8608 93.9047 76.6192 96.6638 76.6192H109.004C111.763 76.6192 114 78.8608 114 81.6259V93.9933C114 96.7584 111.763 99 109.004 99H96.6638C93.9047 99 91.668 96.7584 91.668 93.9933V81.6259ZM96.5308 81.4939H109.136V94.1268H96.5308V81.4939Z' fill='white'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_704_4984' x='43.46' y='30.73' width='100.997' height='100.794' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2.27'/%3E%3CfeGaussianBlur stdDeviation='5.77'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.392157 0 0 0 0 0.427451 0 0 0 0 0.482353 0 0 0 0.16 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_704_4984'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_704_4984' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_704_4984' x='89.2933' y='70.73' width='87.2467' height='87.08' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2.27'/%3E%3CfeGaussianBlur stdDeviation='5.77'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.392157 0 0 0 0 0.427451 0 0 0 0 0.482353 0 0 0 0.16 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_704_4984'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_704_4984' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}

.sn-spaces__empty-state-title {
	margin-bottom: 12px;
	color: #525C69;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.sn-spaces__empty-state-text {
	max-width: 600px;
	color: #828B95;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
}
