

/* Start:/bitrix/templates/bitrix24/components/bitrix/intranet.structure.events/.default/style.css?1701775629377*/
table.bx-users-toolbar {width: 100%; border-collapse:collapse; background-color: #D8E3E8; margin-bottom: 10px;}
table.bx-users-toolbar td {padding: 5px; white-space: nowrap !important; color: black;}
table.bx-users-toolbar td.bx-users-toolbar-last {width: 100%; text-align: right;}
table.bx-users-toolbar td form {padding: 0px; margin: 0px;} 
.bx-users-nav {margin: 10px 0px;}

/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?170177495851*/
font.errortext{color:red}font.notetext{color:green}
/* End */
/* /bitrix/templates/bitrix24/components/bitrix/intranet.structure.events/.default/style.css?1701775629377 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?170177495851 */
