.crm-timeline__card {
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	display: flex;
	flex-direction: column;
	background-color: var(--crm-timeline__card-color-background);
	border-radius: var(--crm-timeline__card-border-radius);
	position: relative;
	padding-top: var(--ui-space-inset-sm, 12px);
	padding-bottom: var(--ui-space-inset-sm, 12px);
	overflow: hidden;
	box-sizing: border-box;
}

.crm-timeline__card.--stream-type-pinned {
	--crm-timeline__card-color-background: var(--ui-color-palette-green-10, #fafded);
}

.crm-timeline__card.--stream-type-scheduled {
	--crm-timeline__card-color-background: #FFFEEF;
}

.crm-timeline__card.--log-message {
	--crm-timeline__card_log-message-white-rgb: 255, 255, 255;
	--crm-timeline__card-color-background: var(--ui-color-base-02, #f8fafb);
	border: var(--ui-border-width-thin, 1px) solid var(--ui-color-base-20, #dfe0e3);
	opacity: 1;
}

.crm-timeline__card.--disabled {
	--crm-timeline__logo-background: var(--ui-color-palette-gray-10, rgba(130, 139, 149, .7));
}

.crm-timeline__card_overlay {
	position: absolute;
	inset: 0;
	z-index: 9999;
	background-color: var(--crm-timeline__card-color-background);
	transition: opacity 500ms ease;
	opacity: 1;
	border-radius: var(--crm-timeline__card-border-radius);
}

.crm-entity-stream-section-planned .crm-timeline__card_overlay {
	background-color: #FFFEEF;
}

.crm-timeline__card-wrapper {
	border-radius: var(--crm-timeline__card-border-radius);
}

.crm-timeline__card .crm-timeline__card_fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255 ,255, .5);
	border-radius: var(--crm-timeline__card-border-radius);
	z-index: 2;
	animation: timeline__card-fade-background 160ms ease forwards;
}

.crm-entity-stream-section-animate-start .crm-timeline__card .crm-timeline__card_fade {
	animation: none;
}

.crm-timeline__card-tags {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.crm-timeline__card-time {
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	margin-bottom: 8px;
	font-family: var(--crm-timeline__font-helvetica);
	font-size: var(--ui-font-size-sm, 13px);
	line-height: 18px;
	color: var(--ui-color-palette-gray-40, rgba(82, 92, 105, .4));
}

.crm-timeline__card-body {
	padding: 0 var(--ui-space-inset-md, 16px) 0 var(--ui-space-inset-md, 16px);
	display: flex;
	align-items: flex-start;
}

.crm-timeline__card-body:last-child {
	margin-bottom: unset;
}

.crm-timeline__card-container {
	max-width: calc(100% - var(--crm-timeline__icon-size) - 18px);
	flex: 1;
	padding: 2px 0;
}

.crm-timeline__card-container.--without-logo {
	--crm-timeline__icon-size: 0.00000000001px; /* hack due to the css minifier replaces `0px` to `0` and breaks expression calc(100% - var(--crm-timeline__icon-size) - 18px); */
}

.crm-timeline__card_link {
	font-weight: var(--ui-font-weight-normal, 400);
	color: var(--ui-color-link-primary-base, #2066b0);
	text-decoration: underline !important;
	text-decoration-color: transparent !important;
	cursor: pointer;
	transition: var(--crm-timeline__transition-hover);
	word-break: break-all;
}

.crm-timeline__card_link.--bold {
	font-weight: var(--ui-font-weight-medium, 500);
}

.crm-timeline__card_link:hover {
	/*text-decoration-color: var(--ui-color-link-primary-base, #2066b0) !important;*/
	transition-duration: unset;
}

.crm-timeline__card-icon + .crm-timeline__card-container {
	max-width: calc(100% - 98px);
}

.crm-timeline__card-container_block {
	display: block;
	margin-bottom: 6px;
}

.crm-timeline__card-container_block:last-child {
	margin-bottom: unset;
}

.crm-timeline__card-container_block .--highlighted{
	position: relative;
	z-index: 3;
}

.crm-timeline__card-bottom {
	display: block;
	margin-top: 16px;
	margin-bottom: -12px;
}

.crm-timeline__card_more-menu .menu-popup-item-icon {
	opacity: 0.5;
}

.crm-timeline__card_more-menu .menu-popup-item-text {
	color: var(--ui-color-palette-gray-90, #525c69);
}

.crm-timeline__player-alert {
	--ui-alert-border-radius: 32px;
}

.crm-entity-stream-section .main-ui-loader {
	z-index: 4;
}

@keyframes timeline__card-fade-background {
	0% {
		background: rgba(255, 255 ,255, 0);
	}
	100% {
		background: rgba(255, 255 ,255, .5);
	}
}

.crm-timeline-block-line-of-texts .crm-timeline__card_link {
	word-break: break-all;
}
