.biconnector-dashboard-settings__wrapper .ui-entity-card-content-actions-container {
	display: none;
}

.biconnector-dashboard-settings-editor__wrapper.ui-entity-section {
	padding-bottom: 0 !important;
}

.biconnector-dashboard-settings-editor__wrapper .ui-entity-editor-content-block__range {
	margin-bottom: 0;
}

.biconnector-dashboard-settings-editor__wrapper .ui-entity-editor-section-content {
	padding: 15px 0 0;
}

.biconnector-dashboard-settings-editor__wrapper .ui-entity-editor-section-edit {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	box-shadow: none !important;
}

.biconnector-dashboard-settings-editor__wrapper .ui-entity-editor-section {
	margin-bottom: 0 !important;
}
