.biconnector-limit-popup {
	background-color: #eef2f4;
	font-size: 0;
	min-height: 155px;
	padding: 18px 15px 18px 157px;
	position: relative;
	width: 470px;
}

.biconnector-limit-popup:before {
	content: '';
	display: inline-block;
	height: 160px;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}

.biconnector-limit-pic {
	height: 145px;
	left: 15px;
	top: 25px;
	position: absolute;
	width: 127px;
}

.biconnector-limit-pic:before,
.biconnector-limit-pic:after {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22112%22%20height%3D%2280%22%20viewBox%3D%220%200%20112%2080%22%3E%0A%20%20%3Cpath%20fill%3D%22%23C9CCD0%22%20fill-rule%3D%22evenodd%22%20d%3D%22M53.803%2C0.0004%20C34.313%2C0.0004%2018.441%2C15.7864%2018.303%2C35.2444%20C7.907%2C37.1344%200%2C46.2554%200%2C57.1884%20C0%2C69.4854%2010.005%2C79.4904%2022.303%2C79.4904%20L85.303%2C79.4904%20C85.432%2C79.4904%2085.561%2C79.4844%2085.69%2C79.4724%20C92.515%2C79.2684%2098.901%2C76.4794%20103.699%2C71.6004%20C108.58%2C66.6384%20111.268%2C60.0714%20111.268%2C53.1104%20C111.268%2C39.7234%20101.215%2C28.6124%2088.263%2C26.9474%20C86.512%2C19.8884%2082.604%2C13.4854%2077.048%2C8.6684%20C70.601%2C3.0784%2062.345%2C0.0004%2053.803%2C0.0004%20M53.803%2C4.0004%20C69.578%2C4.0004%2082.646%2C15.5984%2084.944%2C30.7324%20C97.278%2C30.7634%20107.268%2C40.7704%20107.268%2C53.1104%20C107.268%2C65.3324%2097.47%2C75.2584%2085.302%2C75.4794%20L85.303%2C75.4904%20L22.303%2C75.4904%20C12.195%2C75.4904%204%2C67.2964%204%2C57.1884%20C4%2C47.0794%2012.195%2C38.8854%2022.303%2C38.8854%20C22.366%2C38.8854%2022.425%2C38.8944%2022.488%2C38.8954%20C22.367%2C37.7794%2022.303%2C36.6464%2022.303%2C35.5004%20C22.303%2C18.1034%2036.406%2C4.0004%2053.803%2C4.0004%22/%3E%0A%3C/svg%3E%0A') no-repeat;
	content: '';
	height: 35px;
	position: absolute;
	width: 49px;
}

.biconnector-limit-pic:before {
	background-size: 26px auto;
	background-position: right top;
	top: 0;
	right: 0;
}
.biconnector-limit-pic:after {
	background-position: center center;
	background-size: 100%;
	bottom: 0;
	left: 0;
}

.biconnector-limit-pic-round {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22210%22%20height%3D%22210%22%20viewBox%3D%220%200%20210%20210%22%3E%0A%20%20%3Cpath%20fill%3D%22%23469AF9%22%20fill-rule%3D%22evenodd%22%20d%3D%22M154.4034%2C43.8164%20L136.5964%2C43.8164%20C123.3624%2C43.8164%20112.5964%2C54.5824%20112.5964%2C67.8164%20L112.5964%2C76.8164%20L118.5964%2C76.8164%20L118.5964%2C67.8164%20C118.5964%2C57.9164%20126.6964%2C49.8164%20136.5964%2C49.8164%20L154.4034%2C49.8164%20C164.3034%2C49.8164%20172.4034%2C57.9164%20172.4034%2C67.8164%20L172.4034%2C76.8164%20L178.4034%2C76.8164%20L178.4034%2C67.8164%20C178.4034%2C54.5824%20167.6374%2C43.8164%20154.4034%2C43.8164%20Z%20M105.0004%2C204.0004%20C50.3234%2C204.0004%206.0004%2C159.6764%206.0004%2C105.0004%20C6.0004%2C50.3234%2050.3234%2C6.0004%20105.0004%2C6.0004%20C159.6754%2C6.0004%20204.0004%2C50.3234%20204.0004%2C105.0004%20C204.0004%2C159.6764%20159.6754%2C204.0004%20105.0004%2C204.0004%20Z%20M105.0004%2C0.0004%20C47.1024%2C0.0004%200.0004%2C47.1024%200.0004%2C105.0004%20C0.0004%2C162.8974%2047.1024%2C210.0004%20105.0004%2C210.0004%20C162.8974%2C210.0004%20210.0004%2C162.8974%20210.0004%2C105.0004%20C210.0004%2C47.1024%20162.8974%2C0.0004%20105.0004%2C0.0004%20Z%20M93.0004%2C126.1304%20L93.0004%2C135.5004%20C93.0004%2C137.4244%2094.5754%2C139.0004%2096.5004%2C139.0004%20C98.4244%2C139.0004%20100.0004%2C137.4244%20100.0004%2C135.5004%20L100.0004%2C126.1304%20C102.3784%2C124.8734%20104.0004%2C122.3774%20104.0004%2C119.5004%20C104.0004%2C115.3584%20100.6414%2C112.0004%2096.5004%2C112.0004%20C92.3574%2C112.0004%2089.0004%2C115.3584%2089.0004%2C119.5004%20C89.0004%2C122.3774%2090.6224%2C124.8734%2093.0004%2C126.1304%20Z%20M57.0004%2C154.0004%20L136.0004%2C154.0004%20L136.0004%2C89.0004%20L57.0004%2C89.0004%20L57.0004%2C154.0004%20Z%20M136.0004%2C83.0004%20L57.0004%2C83.0004%20C53.6864%2C83.0004%2051.0004%2C85.6864%2051.0004%2C89.0004%20L51.0004%2C154.0004%20C51.0004%2C157.3134%2053.6864%2C160.0004%2057.0004%2C160.0004%20L136.0004%2C160.0004%20C139.3134%2C160.0004%20142.0004%2C157.3134%20142.0004%2C154.0004%20L142.0004%2C89.0004%20C142.0004%2C85.6864%20139.3134%2C83.0004%20136.0004%2C83.0004%20Z%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
	border-radius: 50%;
	left: 17px;
	height: 90px;
	position: absolute;
	top: 17px;
	width: 90px;
}

.biconnector-limit-text {
	color: #535c69;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	margin-left: 15px;
}
