:root, :root.light {
	--accent-brand-blue: #2FC6F6;
	--accent-brand-blue-rgb: 47, 198, 246;
	--accent-brand-green: #BBED21;
	--accent-brand-green-rgb: 187, 237, 33;
	--accent-extra-aqua: #55D0E0;
	--accent-extra-aqua-rgb: 85, 208, 224;
	--accent-extra-brown: #AE914B;
	--accent-extra-brown-rgb: 174, 145, 75;
	--accent-extra-darkblue: #0091E3;
	--accent-extra-darkblue-rgb: 0, 145, 227;
	--accent-extra-grass: #29AD49;
	--accent-extra-grass-rgb: 41, 173, 73;
	--accent-extra-new: #FEFCEE;
	--accent-extra-new-rgb: 254, 252, 238;
	--accent-extra-pink: #FB6DBA;
	--accent-extra-pink-rgb: 251, 109, 186;
	--accent-extra-purple: #C15FD2;
	--accent-extra-purple-rgb: 193, 95, 210;
	--accent-main-alert: #FF5752;
	--accent-main-alert-rgb: 255, 87, 82;
	--accent-main-links: #2066B0;
	--accent-main-links-rgb: 32, 102, 176;
	--accent-main-primary: #00A2E8;
	--accent-main-primary-rgb: 0, 162, 232;
	--accent-main-primaryalt: #29A8DF;
	--accent-main-primaryalt-rgb: 41, 168, 223;
	--accent-main-success: #9DCF00;
	--accent-main-success-rgb: 157, 207, 0;
	--accent-main-warning: #FFA900;
	--accent-main-warning-rgb: 255, 169, 0;
	--accent-soft-blue1: #C3F0FF;
	--accent-soft-blue1-rgb: 195, 240, 255;
	--accent-soft-blue2: #E5F9FF;
	--accent-soft-blue2-rgb: 229, 249, 255;
	--accent-soft-blue3: #ECFAFE;
	--accent-soft-blue3-rgb: 236, 250, 254;
	--accent-soft-element-blue1: #00789E;
	--accent-soft-element-blue1-rgb: 0, 120, 158;
	--accent-soft-element-green1: #688800;
	--accent-soft-element-green1-rgb: 104, 136, 0;
	--accent-soft-element-orange1: #9F6A00;
	--accent-soft-element-orange1-rgb: 159, 106, 0;
	--accent-soft-element-red1: #C21B16;
	--accent-soft-element-red1-rgb: 194, 27, 22;
	--accent-soft-gray2: #FCFCFD;
	--accent-soft-gray2-rgb: 252, 252, 253;
	--accent-soft-green1: #E2F1B3;
	--accent-soft-green1-rgb: 226, 241, 179;
	--accent-soft-green2: #F1FBD0;
	--accent-soft-green2-rgb: 241, 251, 208;
	--accent-soft-green3: #F5FCDE;
	--accent-soft-green3-rgb: 245, 252, 222;
	--accent-soft-orange1: #FFE1A6;
	--accent-soft-orange1-rgb: 255, 225, 166;
	--accent-soft-orange2: #FFF1D6;
	--accent-soft-orange2-rgb: 255, 241, 214;
	--accent-soft-orange3: #FFF5E3;
	--accent-soft-orange3-rgb: 255, 245, 227;
	--accent-soft-red1: #FFCDCC;
	--accent-soft-red1-rgb: 255, 205, 204;
	--accent-soft-red2: #FFE8E8;
	--accent-soft-red2-rgb: 255, 232, 232;
	--accent-soft-red3: #FFF0F0;
	--accent-soft-red3-rgb: 255, 240, 240;
	--base0: #000000;
	--base0-rgb: 0, 0, 0;
	--base1: #333333;
	--base1-rgb: 51, 51, 51;
	--base2: #525C69;
	--base2-rgb: 82, 92, 105;
	--base3: #828B95;
	--base3-rgb: 130, 139, 149;
	--base4: #A8ADB4;
	--base4-rgb: 168, 173, 180;
	--base5: #C9CCD0;
	--base5-rgb: 201, 204, 208;
	--base6: #DFE0E3;
	--base6-rgb: 223, 224, 227;
	--base7: #EDEEF0;
	--base7-rgb: 237, 238, 240;
	--base8: #FFFFFF;
	--base8-rgb: 255, 255, 255;
	--base-black-fixed: #000000;
	--base-black-fixed-rgb: 0, 0, 0;
	--base-white-fixed: #FFFFFF;
	--base-white-fixed-rgb: 255, 255, 255;
	--bg-content-primary: #FFFFFF;
	--bg-content-primary-rgb: 255, 255, 255;
	--bg-content-secondary: #F9FAFB;
	--bg-content-secondary-rgb: 249, 250, 251;
	--bg-content-tertiary: #F5F5F7;
	--bg-content-tertiary-rgb: 245, 245, 247;
	--bg-navigation: #F5F7F8;
	--bg-navigation-rgb: 245, 247, 248;
	--bg-primary: #F1F4F6;
	--bg-primary-rgb: 241, 244, 246;
	--bg-secondary: #F5F7F8;
	--bg-secondary-rgb: 245, 247, 248;
	--bg-separator-primary: #E6E7E9;
	--bg-separator-primary-rgb: 230, 231, 233;
	--bg-separator-secondary: #E6E7E9;
	--bg-separator-secondary-rgb: 230, 231, 233;
	--chat-my-base0_1: #00000033;
	--chat-my-base0_1-rgb: 0, 0, 0;
	--chat-my-base0_2: #000000B3;
	--chat-my-base0_2-rgb: 0, 0, 0;
	--chat-my-base0_3: #00000033;
	--chat-my-base0_3-rgb: 0, 0, 0;
	--chat-my-base0_4: #00000033;
	--chat-my-base0_4-rgb: 0, 0, 0;
	--chat-my-base1_1: #3333334D;
	--chat-my-base1_1-rgb: 51, 51, 51;
	--chat-my-base1_2: #33333380;
	--chat-my-base1_2-rgb: 51, 51, 51;
	--chat-my-base-black: #00000033;
	--chat-my-base-black-rgb: 0, 0, 0;
	--chat-my-color-green: #9DCF00;
	--chat-my-color-green-rgb: 157, 207, 0;
	--chat-my-color-shade: #8E987F;
	--chat-my-color-shade-rgb: 142, 152, 127;
	--chat-my-color-white: #FFFFFF;
	--chat-my-color-white-rgb: 255, 255, 255;
	--chat-my-fixed-black: #00000033;
	--chat-my-fixed-black-rgb: 0, 0, 0;
	--chat-my-message1: #E9FECB;
	--chat-my-message1-rgb: 233, 254, 203;
	--chat-my-message2: #E9FECBB3;
	--chat-my-message2-rgb: 233, 254, 203;
	--chat-my-primary1: #29A8DF;
	--chat-my-primary1-rgb: 41, 168, 223;
	--chat-my-primary2: #29A8DF;
	--chat-my-primary2-rgb: 41, 168, 223;
	--chat-my-primary3: #29A8DF;
	--chat-my-primary3-rgb: 41, 168, 223;
	--chat-other-base0_1: #00000033;
	--chat-other-base0_1-rgb: 0, 0, 0;
	--chat-other-base1_1: #33333380;
	--chat-other-base1_1-rgb: 51, 51, 51;
	--chat-other-base1_2: #3333334D;
	--chat-other-base1_2-rgb: 51, 51, 51;
	--chat-other-invert1: #FFFFFF;
	--chat-other-invert1-rgb: 255, 255, 255;
	--chat-other-message1: #FFFFFF;
	--chat-other-message1-rgb: 255, 255, 255;
	--chat-other-message2: #FFFFFFB3;
	--chat-other-message2-rgb: 255, 255, 255;
	--chat-other-message3: #00000033;
	--chat-other-message3-rgb: 0, 0, 0;
	--chat-overall-base0: #00000014;
	--chat-overall-base0-rgb: 0, 0, 0;
	--chat-overall-base-white1: #FFFFFF;
	--chat-overall-base-white1-rgb: 255, 255, 255;
	--chat-overall-base-white2: #FFFFFFB3;
	--chat-overall-base-white2-rgb: 255, 255, 255;
	--chat-overall-color-gray: #F0F0F0;
	--chat-overall-color-gray-rgb: 240, 240, 240;
	--chat-overall-fixed-black: #00000080;
	--chat-overall-fixed-black-rgb: 0, 0, 0;
	--chat-overall-overlay: #00000014;
	--chat-overall-overlay-rgb: 0, 0, 0;
	--chat-overall-pattern1_1: #FFFFFF26;
	--chat-overall-pattern1_1-rgb: 255, 255, 255;
	--chat-overall-pattern1_2: #FFFFFF26;
	--chat-overall-pattern1_2-rgb: 255, 255, 255;
	--chat-overall-tech: #00000033;
	--chat-overall-tech-rgb: 0, 0, 0;
	--graphics-base1: #FFFFFF;
	--graphics-base1-rgb: 255, 255, 255;
	--graphics-base2: #BDC1C6;
	--graphics-base2-rgb: 189, 193, 198;
	--graphics-base3: #EBECEE;
	--graphics-base3-rgb: 235, 236, 238;
	--tech-focus: #0000000D;
	--tech-focus-rgb: 0, 0, 0;
	--tech-opacity: #FFFFFF00;
	--tech-opacity-rgb: 255, 255, 255;
	--tech-overlay: #00000099;
	--tech-overlay-rgb: 0, 0, 0;
	--tech-push: #00000014;
	--tech-push-rgb: 0, 0, 0;
	--tech-test: #FB30FF;
	--tech-test-rgb: 251, 48, 255;
}

:root.dark {
	--accent-brand-blue: #24B4E1;
	--accent-brand-blue-rgb: 36, 180, 225;
	--accent-brand-green: #9CC51F;
	--accent-brand-green-rgb: 156, 197, 31;
	--accent-extra-aqua: #47AAB7;
	--accent-extra-aqua-rgb: 71, 170, 183;
	--accent-extra-brown: #8E7840;
	--accent-extra-brown-rgb: 142, 120, 64;
	--accent-extra-darkblue: #038DBA;
	--accent-extra-darkblue-rgb: 3, 141, 186;
	--accent-extra-grass: #248E3E;
	--accent-extra-grass-rgb: 36, 142, 62;
	--accent-extra-new: #272118;
	--accent-extra-new-rgb: 39, 33, 24;
	--accent-extra-pink: #CC5B99;
	--accent-extra-pink-rgb: 204, 91, 153;
	--accent-extra-purple: #8966B5;
	--accent-extra-purple-rgb: 137, 102, 181;
	--accent-main-alert: #CE4845;
	--accent-main-alert-rgb: 206, 72, 69;
	--accent-main-links: #3BA5E1;
	--accent-main-links-rgb: 59, 165, 225;
	--accent-main-primary: #0089D3;
	--accent-main-primary-rgb: 0, 137, 211;
	--accent-main-primaryalt: #0082BA;
	--accent-main-primaryalt-rgb: 0, 130, 186;
	--accent-main-success: #779E00;
	--accent-main-success-rgb: 119, 158, 0;
	--accent-main-warning: #CE8A03;
	--accent-main-warning-rgb: 206, 138, 3;
	--accent-soft-blue1: #1D3948;
	--accent-soft-blue1-rgb: 29, 57, 72;
	--accent-soft-blue2: #1C2D37;
	--accent-soft-blue2-rgb: 28, 45, 55;
	--accent-soft-blue3: #1A2A33;
	--accent-soft-blue3-rgb: 26, 42, 51;
	--accent-soft-element-blue1: #2392C4;
	--accent-soft-element-blue1-rgb: 35, 146, 196;
	--accent-soft-element-green1: #9FC037;
	--accent-soft-element-green1-rgb: 159, 192, 55;
	--accent-soft-element-orange1: #CA8D17;
	--accent-soft-element-orange1-rgb: 202, 141, 23;
	--accent-soft-element-red1: #D95451;
	--accent-soft-element-red1-rgb: 217, 84, 81;
	--accent-soft-gray2: #2C3136;
	--accent-soft-gray2-rgb: 44, 49, 54;
	--accent-soft-green1: #37421E;
	--accent-soft-green1-rgb: 55, 66, 30;
	--accent-soft-green2: #29311E;
	--accent-soft-green2-rgb: 41, 49, 30;
	--accent-soft-green3: #262D1A;
	--accent-soft-green3-rgb: 38, 45, 26;
	--accent-soft-orange1: #4B3A15;
	--accent-soft-orange1-rgb: 75, 58, 21;
	--accent-soft-orange2: #433413;
	--accent-soft-orange2-rgb: 67, 52, 19;
	--accent-soft-orange3: #362A0F;
	--accent-soft-orange3-rgb: 54, 42, 15;
	--accent-soft-red1: #4F2726;
	--accent-soft-red1-rgb: 79, 39, 38;
	--accent-soft-red2: #392021;
	--accent-soft-red2-rgb: 57, 32, 33;
	--accent-soft-red3: #351C1C;
	--accent-soft-red3-rgb: 53, 28, 28;
	--base0: #FFFFFF;
	--base0-rgb: 255, 255, 255;
	--base1: #F8F8F8;
	--base1-rgb: 248, 248, 248;
	--base2: #CBCED1;
	--base2-rgb: 203, 206, 209;
	--base3: #A7ABAF;
	--base3-rgb: 167, 171, 175;
	--base4: #82878B;
	--base4-rgb: 130, 135, 139;
	--base5: #65696F;
	--base5-rgb: 101, 105, 111;
	--base6: #54595F;
	--base6-rgb: 84, 89, 95;
	--base7: #363C41;
	--base7-rgb: 54, 60, 65;
	--base8: #242A2F;
	--base8-rgb: 36, 42, 47;
	--base-black-fixed: #000000;
	--base-black-fixed-rgb: 0, 0, 0;
	--base-white-fixed: #FFFFFF;
	--base-white-fixed-rgb: 255, 255, 255;
	--bg-content-primary: #1B1F23;
	--bg-content-primary-rgb: 27, 31, 35;
	--bg-content-secondary: #22272B;
	--bg-content-secondary-rgb: 34, 39, 43;
	--bg-content-tertiary: #262B2F;
	--bg-content-tertiary-rgb: 38, 43, 47;
	--bg-navigation: #23272C;
	--bg-navigation-rgb: 35, 39, 44;
	--bg-primary: #101214;
	--bg-primary-rgb: 16, 18, 20;
	--bg-secondary: #181A1D;
	--bg-secondary-rgb: 24, 26, 29;
	--bg-separator-primary: #2E3237;
	--bg-separator-primary-rgb: 46, 50, 55;
	--bg-separator-secondary: #2E3237;
	--bg-separator-secondary-rgb: 46, 50, 55;
	--chat-my-base0_1: #FFFFFF;
	--chat-my-base0_1-rgb: 255, 255, 255;
	--chat-my-base0_2: #FFFFFFB3;
	--chat-my-base0_2-rgb: 255, 255, 255;
	--chat-my-base0_3: #FFFFFF80;
	--chat-my-base0_3-rgb: 255, 255, 255;
	--chat-my-base0_4: #FFFFFF33;
	--chat-my-base0_4-rgb: 255, 255, 255;
	--chat-my-base1_1: #F8F8F880;
	--chat-my-base1_1-rgb: 248, 248, 248;
	--chat-my-base1_2: #F8F8F8B3;
	--chat-my-base1_2-rgb: 248, 248, 248;
	--chat-my-base-black: #00000080;
	--chat-my-base-black-rgb: 0, 0, 0;
	--chat-my-color-green: #FFFFFF;
	--chat-my-color-green-rgb: 255, 255, 255;
	--chat-my-color-shade: #AED7ED;
	--chat-my-color-shade-rgb: 174, 215, 237;
	--chat-my-color-white: #0089D3;
	--chat-my-color-white-rgb: 0, 137, 211;
	--chat-my-fixed-black: #00000033;
	--chat-my-fixed-black-rgb: 0, 0, 0;
	--chat-my-message1: #0089D3;
	--chat-my-message1-rgb: 0, 137, 211;
	--chat-my-message2: #0089D3B3;
	--chat-my-message2-rgb: 0, 137, 211;
	--chat-my-primary1: #F8F8F8;
	--chat-my-primary1-rgb: 248, 248, 248;
	--chat-my-primary2: #F8F8F8B3;
	--chat-my-primary2-rgb: 248, 248, 248;
	--chat-my-primary3: #FFFFFF33;
	--chat-my-primary3-rgb: 255, 255, 255;
	--chat-other-base0_1: #FFFFFF33;
	--chat-other-base0_1-rgb: 255, 255, 255;
	--chat-other-base1_1: #F8F8F880;
	--chat-other-base1_1-rgb: 248, 248, 248;
	--chat-other-base1_2: #F8F8F84D;
	--chat-other-base1_2-rgb: 248, 248, 248;
	--chat-other-invert1: #54595F;
	--chat-other-invert1-rgb: 84, 89, 95;
	--chat-other-message1: #2B2E32;
	--chat-other-message1-rgb: 43, 46, 50;
	--chat-other-message2: #2B2E32B3;
	--chat-other-message2-rgb: 43, 46, 50;
	--chat-other-message3: #2B2E3280;
	--chat-other-message3-rgb: 43, 46, 50;
	--chat-overall-base0: #FFFFFF14;
	--chat-overall-base0-rgb: 255, 255, 255;
	--chat-overall-base-white1: #FFFFFFB3;
	--chat-overall-base-white1-rgb: 255, 255, 255;
	--chat-overall-base-white2: #FFFFFF99;
	--chat-overall-base-white2-rgb: 255, 255, 255;
	--chat-overall-color-gray: #A7ABAF;
	--chat-overall-color-gray-rgb: 167, 171, 175;
	--chat-overall-fixed-black: #00000080;
	--chat-overall-fixed-black-rgb: 0, 0, 0;
	--chat-overall-overlay: #00000033;
	--chat-overall-overlay-rgb: 0, 0, 0;
	--chat-overall-pattern1_1: #2F3755;
	--chat-overall-pattern1_1-rgb: 47, 55, 85;
	--chat-overall-pattern1_2: #412043;
	--chat-overall-pattern1_2-rgb: 65, 32, 67;
	--chat-overall-tech: #2B2E3266;
	--chat-overall-tech-rgb: 43, 46, 50;
	--graphics-base1: #6A737F;
	--graphics-base1-rgb: 106, 115, 127;
	--graphics-base2: #BDC1C6;
	--graphics-base2-rgb: 189, 193, 198;
	--graphics-base3: #959CA4;
	--graphics-base3-rgb: 149, 156, 164;
	--tech-focus: #FFFFFF1A;
	--tech-focus-rgb: 255, 255, 255;
	--tech-opacity: #FFFFFF00;
	--tech-opacity-rgb: 255, 255, 255;
	--tech-overlay: #000000BF;
	--tech-overlay-rgb: 0, 0, 0;
	--tech-push: #FFFFFF24;
	--tech-push-rgb: 255, 255, 255;
	--tech-test: #4DFF30;
	--tech-test-rgb: 77, 255, 48;
}