.sn-spaces__popup-item {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 9px 14px;
}

.sn-spaces__popup-item.--main {
	height: 82px;
	border-radius: var(--ui-border-radius-lg);
	border: var(--ui-border-width-thin) solid var(--ui-color-primary);
}

.sn-spaces__popup-item.--mini {
	flex-direction: column;
	padding: 9px;
	cursor: pointer;
}

.sn-spaces__popup-icon-round {
	--ui-icon-set__icon-color: var(--ui-color-base-50);
	box-sizing: border-box;
	padding: 2px;
	margin: 2px auto;
	border-radius: var(--ui-border-radius-circle);
	border: var(--ui-border-width-thin) solid var(--ui-color-palette-gray-10);
	line-height: 0;
}

.sn-spaces__popup-icon-round-name {
	font-size: var(--ui-font-size-xs);
	color: var(--ui-color-text-secondary);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: var(--ui-font-line-height-xl);
}

.sn-spaces__popup-settings_btn,
.sn-spaces__popup-settings_logo {
	flex-shrink: 0;
}

.sn-spaces__popup-settings_info {
	flex: 1;
	margin-right: 10px;
	overflow: hidden;
}

.sn-spaces__popup-settings_title {
	display: flex;
}

.sn-spaces__popup-settings_title.--hidden {
	display: none;
}

.sn-spaces__popup-settings_title .ui-icon-set {
	--ui-icon-set__icon-color: var(--ui-color-base-40);
	flex-shrink: 0;
	cursor: pointer;
}

.sn-spaces__popup-settings_title .ui-icon-set:hover {
	--ui-icon-set__icon-color: var(--ui-color-base-70);
}

.sn-spaces__popup-settings_name {
	font-size: var(--ui-font-size-xl);
	font-weight: var(--ui-font-weight-semi-bold);
	color: var(--ui-color-text-primary);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sn-spaces__popup-settings_select-private {
	--ui-icon-set__icon-color: var(--ui-color-base-40);

	display: flex;
	align-items: center;
	margin: 5px 0 2px;
	font-size: var(--ui-size-sm);
	white-space: nowrap;
	color: var(--ui-color-text-subtle);
	cursor: pointer;
}

.sn-spaces__popup-settings_select-private-text {
	padding-right: 1px;
	text-decoration: underline;
	text-decoration-color: rgba(var(--ui-color-base-70-rgb), var(--ui-opacity-40));
	text-decoration-style: var(--ui-text-decoration-style-dashed);
	text-underline-offset: 0.3em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sn-spaces__popup-settings_select-private:hover {
	--ui-icon-set__icon-color: var(--ui-color-base-70);
}

.sn-spaces__popup-settings_select-private:hover .sn-spaces__popup-settings_select-private-text {
	text-decoration-color:  var(--ui-color-text-subtle);
}

.sn-spaces__popup-communication {
	display: flex;
	gap: 3px;
}

.sn-spaces__popup-communication-item {
	--ui-icon-set__icon-color: var(--ui-color-base-50);

	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 8px 12px 9px;
	overflow: hidden;
	background: #fafafa;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
	cursor: pointer;
	transition: .2s;
}

.sn-spaces__popup-communication-item:first-of-type {
	border-top-left-radius: var(--ui-border-radius-lg);
	border-bottom-left-radius: var(--ui-border-radius-lg);
}

.sn-spaces__popup-communication-item:last-of-type {
	border-top-right-radius: var(--ui-border-radius-lg);
	border-bottom-right-radius: var(--ui-border-radius-lg);
}

.sn-spaces__popup-communication-item:hover {
	transform: translateY(-1px);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.13);
}

.sn-spaces__popup-communication-item_text {
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: var(--ui-font-size-3xs);
	line-height: var(--ui-font-line-height-lg);
	color: var(--ui-color-text-secondary);
}

.sn-spaces__popup-settings_name-input.ui-ctl-element {
	border: none;
	font-size: var(--ui-font-size-xl);
	font-weight: var(--ui-font-weight-semi-bold);
	color: var(--ui-color-text-primary);
}

.sn-spaces__popup-settings_title .ui-ctl-xs {
	--ui-field-size: 17px;
}

.sn-spaces__popup-item.--expandable {
	position: relative;
	z-index: 5;
	padding: 6px 14px;
	border-radius: var(--ui-border-radius-lg);
	background: #fafafa;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
	cursor: pointer;
	transition: .2s;
}

.sn-spaces__popup-item.--expandable:hover {
	transform: translateY(-1px);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.13);
}

.sn-spaces__popup-item_icon-block {
	flex-shrink: 0;
	margin: auto 0;
}

.sn-spaces__popup-item_icon {
	--ui-icon-set__icon-color: #55d0e0;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	margin: 3px;
	border-radius: var(--ui-border-radius-circle);
	border: var(--ui-border-width-thin) solid rgba(85, 208, 224, .3);
	line-height: 0;
}

.sn-spaces__popup-item_members {
	display: flex;
	align-items: center;
}

.sn-spaces__popup-item_members-info {
	margin-right: auto;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-medium);
	color: var(--ui-color-text-secondary);
}

.sn-spaces__popup-item_main-info {
	flex: 1;
	padding-top: 3px;
	margin-left: 16px;
}

.sn-spaces__popup-item_lists {
	display: flex;
	align-items: center;
	padding: 8px 0;
}

.sn-spaces__popup-item_list {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 6px;
}

.sn-spaces__popup-item_list-item {
	--ui-icon-size: 20px;
	position: relative;
	margin-left: -4px;
	border: var(--ui-border-width-thin) solid var(--ui-color-background-primary);
	border-radius: var(--ui-border-radius-circle);
}

.sn-spaces__popup-item_list-item:last-of-type {
	margin-left: 0;
}

.sn-spaces__popup-item_list-item-img {
	--sn-spaces__popup-item_list-item-img-size: 20px;

	display: block;
	width: var(--sn-spaces__popup-item_list-item-img-size);
	height: var(--sn-spaces__popup-item_list-item-img-size);
	border-radius: var(--ui-border-radius-circle);
	background-size: cover;
	background-repeat: no-repeat;
}

.sn-spaces__popup-item_list-item-img + .sn-spaces__popup-item_list-item-img {
	z-index: -1;
}

.sn-spaces__popup-icon_svg {
	position: absolute;
	right: -3px;
	bottom: -5px;
}

.sn-spaces__popup-item_list-item.--admin .sn-spaces__popup-icon_svg {
	right: auto;
	left: 50%;
	bottom: -2px;
	transform: translate(-50%, 0);
}

.sn-spaces__popup-item.--primary,
.sn-spaces__popup-item.--warning {
	position: relative;
	border-radius: 0 0 var(--ui-border-radius-lg) var(--ui-border-radius-lg);
	padding-top: 20px;
	margin-top: -12px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
	justify-content: center;
	text-align: center;
	font-size: var(--ui-font-size-3xs);
	color: var(--ui-color-text-secondary);
	cursor: pointer;
}

.sn-spaces__popup-item.--primary {
	--sn-spaces__popup-item_counter-color: #9dcf00;
	z-index: 3;
	background: #ecfafe;
}

.sn-spaces__popup-item.--warning {
	--sn-spaces__popup-item_counter-color: #ff5752;
	z-index: 2;
	background: #fff5e3;
}

.sn-spaces__popup-item_counter {
	box-sizing: border-box;
	padding: 0 7px;
	margin-right: 5px;
	border-radius: var(--ui-border-radius-pill);
	color: #ffffff;
	text-align: center;
	font-size: var(--ui-font-size-3xs);
	font-weight: var(--ui-font-weight-bold);
	line-height: 16px;
	background: var(--sn-spaces__popup-item_counter-color);
}

.sn-spaces__popup-menu {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.sn-spaces__popup-menu_item {
	display: flex;
	gap: 12px;
	box-sizing: border-box;
	padding: 11px;
	border: var(--ui-border-width-thin) solid rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-20));
	border-radius: var(--ui-border-radius-2xs);
	cursor: pointer;
}

.sn-spaces__popup-menu_item-icon {
	--sn-spaces__popup-menu_item-icon-size: 42px;

	flex-shrink: 0;
	width: var(--sn-spaces__popup-menu_item-icon-size);
	height: var(--sn-spaces__popup-menu_item-icon-size);

	background-color: var(--ui-color-base-60);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

.sn-spaces__popup-menu_item-icon.--open-spaces {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_all-visible-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_all-visible-spaces.svg);
}

.sn-spaces__popup-menu_item-icon.--closed-spaces {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_moderation-visible-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_moderation-visible-spaces.svg);
}

.sn-spaces__popup-menu_item-icon.--secret-spaces {
	-webkit-mask-image: url(./images/socialnetwork-spaces_icon_closed-spaces.svg);
	mask-image: url(./images/socialnetwork-spaces_icon_closed-spaces.svg);
}

.sn-spaces__popup-menu_item.--active .sn-spaces__popup-menu_item-icon {
	background-color: var(--ui-color-primary);
}

.sn-spaces__popup-menu_item-info {
	overflow: hidden;
	flex: 1;
}

.sn-spaces__popup-menu_item-name {
	margin-bottom: 6px;
	color: var(--ui-color-base-90);
	font-size: var(--ui-font-size-xl);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sn-spaces__popup-menu_item-description {
	color: var(--ui-color-base-80);
	line-height: var(--ui-font-line-height-md);
}

.sn-spaces__popup-menu_item-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 6px 12px;
	font-size: var(--ui-font-size-md);
	font-weight: var(--ui-font-weight-semi-bold);
	text-align: center;
	line-height: var(--ui-font-line-height-xl);
}

.sn-spaces__popup-menu_hint {
	padding: 2px 0;
	font-size: var(--ui-font-size-xs);
	line-height: var(--ui-font-line-height-sm);
	color: var(--ui-color-base-50);
}

.sn-spaces__popup-menu_item:hover {
	background: rgba(var(--ui-color-base-solid-rgb), var(--ui-opacity-5));
}

.sn-spaces__popup-menu_item.--active {
	border: var(--ui-border-width-thin) solid var(--ui-color-palette-blue-40);
	background: var(--ui-color-background-info);
}

.sn-spaces__popup-menu_item.--active .sn-spaces__popup-menu_item-name {
	color: var(--ui-color-text-primary);
}

.sn-spaces__popup-menu_item.--active .sn-spaces__popup-menu_item-description {
	color: var(--ui-color-text-secondary);
}